{% extends "base_reperfusion.html" %}
{% block title %}Listar terapia de reperfusión{% endblock %}


{% block content %}


  <br>


  <br>


  <br>
  <hr>
  <div class= "row ">
  <div class="col-sm-1 btn">
  </div>
  <h1>Detalle de terapia de reperfusión</h1>

  </div>
  <hr>
  <div class= "row ">
          <div class="col-sm-5 btn" >
            <h3 style="background-color:lightblue">Paciente</h3>
          </div>
            <div class="col-sm-1 btn">

            </div>
            <div class="col-sm-2 btn">


            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">

            </div>



  </div>

  <div class= "row ">
          <div class="col-sm-1 btn" >

          </div>
            <div class="col-sm-1 btn">
                <label>Nombres</label>
            </div>
            <div class="col-sm-2 btn">


                {% if Paciente.nombres %} {{Paciente.nombres}}{% else %} <font style = "color: red"> dato faltante </font> {% endif %}

            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">

            </div>



  </div>


  <div class= "row ">
          <div class="col-sm-1 btn">
          </div>
            <div class="col-sm-1 btn">
                <label>Apellido paterno</label>
            </div>
            <div class="col-sm-2 btn">

                {% if Paciente.primerApellido %} {{Paciente.primerApellido}}{% else %} <font style = "color: red"> dato faltante </font> {% endif %}

            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">

            </div>

</div>

  <div class= "row ">
          <div class="col-sm-1 btn">
          </div>
            <div class="col-sm-1 btn">
                <label>Apellido materno</label>
            </div>
            <div class="col-sm-2 btn">

                {% if Paciente.segundoApellido %} {{Paciente.segundoApellido}}{% else %} <font style = "color: red"> dato faltante </font> {% endif %}


            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">

            </div>



  </div>




  <div class= "row ">
          <div class="col-sm-1 btn">
          </div>
            <div class="col-sm-1 btn">
                <label>Cuenta corriente</label>
            </div>
            <div class="col-sm-2 btn">

                {% if Paciente.cuentaCorriente %} {{Paciente.cuentaCorriente}}{% else %} <font style = "color: red"> dato faltante </font> {% endif %}

            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">

            </div>


  </div>

<!-- Hospitalización -->
</br>
<hr>
</br>
  <div class= "row ">
          <div class="col-sm-5 btn" >
            <h3 style="background-color:lightblue">Médico</h3>
          </div>
            <div class="col-sm-1 btn">

            </div>
            <div class="col-sm-2 btn">


            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">

            </div>



  </div>


  <div class= "row ">
          <div class="col-sm-1 btn" >

          </div>
            <div class="col-sm-1 btn">
                <label>Médico Tratante</label>
            </div>
            <div class="col-sm-2 btn">

                {% if Reperfusion.medico %} {{Reperfusion.medico}}{% else %} <font style = "color: red"> dato faltante </font> {% endif %}

            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">

            </div>



  </div>




</br>
<hr>
</br>

  <div class= "row ">
          <div class="col-sm-5 btn" >
          <h3 style="background-color:lightblue">Procedimiento</h3>
          </div>
            <div class="col-sm-1 btn">

            </div>
            <div class="col-sm-2 btn">


            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">

            </div>



  </div>

  <div class= "row ">
          <div class="col-sm-1 btn" >

          </div>
            <div class="col-sm-1 btn">
                <label>Procedimiento</label>
            </div>
            <div class="col-sm-2 btn">


                {% if Reperfusion.procedimiento %} {{Reperfusion.procedimiento}}{% else %} <font style = "color: red"> dato faltante </font> {% endif %}

            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">

            </div>



  </div>


  <div class= "row ">
          <div class="col-sm-1 btn" >

          </div>
            <div class="col-sm-1 btn">
                <label>Fecha</label>
            </div>
            <div class="col-sm-2 btn">

              {% if Reperfusion.fecha %} {{Reperfusion.fecha}}{% else %} <font style = "color: red"> dato faltante </font> {% endif %}

            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">

            </div>



  </div>


  <div class= "row ">
          <div class="col-sm-1 btn" >

          </div>
            <div class="col-sm-1 btn">
                <label>Fármaco</label>
            </div>
            <div class="col-sm-2 btn">


                {% if Reperfusion.farmacoTrombolisis %} {{Reperfusion.farmacoTrombolisis}}{% else %} <font style = "color: red"> dato faltante </font> {% endif %}

            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">

            </div>



  </div>

</br>
<hr>
</br>

<!--                                            antecedentes               -->


<div class= "row ">
        <div class="col-sm-5 btn" >
        <h3 style="background-color:lightblue" >Antecedentes</h3>
        </div>
          <div class="col-sm-1 btn">

          </div>
          <div class="col-sm-2 btn">


          </div>

          <div class="col-sm-1 " >

          </div>

          <div class="col-sm-2 btn">

          </div>


</div>


  <div class= "row ">
          <div class="col-sm-1 btn" >

          </div>
            <div class="col-sm-1 btn">
                <label>HTA</label>
            </div>
            <div class="col-sm-2 btn">


                {% if Antecedentes.hta %} {{Antecedentes.hta}}{% else %} <font style = "color: red"> dato faltante </font> {% endif %}

            </div>

            <div class="col-sm-1 " >

            </div>

            <div class="col-sm-2 btn">

            </div>


  </div>


  <div class= "row ">
          <div class="col-sm-1 btn" >

          </div>
            <div class="col-sm-1 btn">
                <label>DM</label>
            </div>
            <div class="col-sm-2 btn">

                {% if Antecedentes.dm %} {{Antecedentes.dm}}{% else %} <font style = "color: red"> dato faltante </font> {% endif %}

            </div>

            <div class="col-sm-1 " >

            </div>

            <div class="col-sm-2 btn">

            </div>


  </div>

  <div class= "row ">
          <div class="col-sm-1 btn" >

          </div>
            <div class="col-sm-1 btn">
                <label>DLP</label>
            </div>
            <div class="col-sm-2 btn">

                {% if Antecedentes.dlp %} {{Antecedentes.dlp}}{% else %} <font style = "color: red"> dato faltante </font> {% endif %}

            </div>

            <div class="col-sm-1 " >

            </div>

            <div class="col-sm-2 btn">

            </div>


  </div>


  <div class= "row ">
          <div class="col-sm-1 btn" >

          </div>
            <div class="col-sm-1 btn">
                <label>TBQ</label>
            </div>
            <div class="col-sm-2 btn">


                {% if Antecedentes.tbq %} {{Antecedentes.tbq}}{% else %} <font style = "color: red"> dato faltante </font> {% endif %}


            </div>

            <div class="col-sm-1 " >

            </div>

            <div class="col-sm-2 btn">

            </div>


  </div>



  <div class= "row ">
          <div class="col-sm-1 btn" >

          </div>
            <div class="col-sm-1 btn">
                <label>ACxFA</label>
            </div>
            <div class="col-sm-2 btn">


                {% if Antecedentes.acxfa %} {{Antecedentes.acxfa}}{% else %} <font style = "color: red"> dato faltante </font> {% endif %}

            </div>

            <div class="col-sm-1 " >

            </div>

            <div class="col-sm-2 btn">

            </div>


  </div>

  <div class= "row ">
          <div class="col-sm-1 btn" >

          </div>
            <div class="col-sm-1 btn">
                <label>ACV previo</label>
            </div>
            <div class="col-sm-2 btn">


                  {% if Antecedentes.acvPrevio %} {{Antecedentes.acvPrevio}}{% else %} <font style = "color: red"> dato faltante </font> {% endif %}

            </div>

            <div class="col-sm-1 " >

            </div>

            <div class="col-sm-2 btn">

            </div>


  </div>


  <div class= "row ">
          <div class="col-sm-1 btn" >

          </div>
            <div class="col-sm-1 btn">
                <label>Farmacos</label>
            </div>
            <div class="col-sm-2 btn">

              {% if Antecedentes.farmacos %} {{Antecedentes.farmacos}}{% else %} <font style = "color: red"> dato faltante </font> {% endif %}


            </div>

            <div class="col-sm-1 " >

            </div>

            <div class="col-sm-2 btn">

            </div>


  </div>

  <div class= "row ">
          <div class="col-sm-1 btn" >

          </div>
            <div class="col-sm-1 btn">
                <label>Anticoagulante</label>
            </div>
            <div class="col-sm-2 btn">

                {% if Antecedentes.anticoagulante %} {{Antecedentes.anticoagulante}}{% else %} <font style = "color: red"> dato faltante </font> {% endif %}

            </div>

            <div class="col-sm-1 " >

            </div>

            <div class="col-sm-2 btn">

            </div>


  </div>


  <div class= "row ">
          <div class="col-sm-1 btn" >

          </div>
            <div class="col-sm-1 btn">
                <label>Antecedentes médicos</label>
            </div>
            <div class="col-sm-2 btn">

                {% if Antecedentes.antecedentesMedicos %} {{Antecedentes.antecedentesMedicos}}{% else %} <font style = "color: red"> dato faltante </font> {% endif %}

            </div>

            <div class="col-sm-1 " >

            </div>

            <div class="col-sm-2 btn">

            </div>


  </div>

  <div class= "row ">
          <div class="col-sm-1 btn" >

          </div>
            <div class="col-sm-1 btn">
                <label>Otros</label>
            </div>
            <div class="col-sm-2 btn">
              {% if Antecedentes.otros %} {{Antecedentes.otros}}{% else %} <font style = "color: red"> dato faltante </font> {% endif %}


            </div>

            <div class="col-sm-1 " >

            </div>

            <div class="col-sm-2 btn">

            </div>


  </div>



</br>
<hr>
</br>

<!--                                            itiempos criticos              -->
<div class= "row ">
      <div class="col-sm-5 btn" >
      <h3 style="background-color:lightblue" >Tiempos críticos</h3>
      </div>
        <div class="col-sm-1 btn">

        </div>
        <div class="col-sm-2 btn">


        </div>

        <div class="col-sm-1 " >

        </div>

        <div class="col-sm-2 btn">

        </div>


</div>

<div class= "row ">
        <div class="col-sm-1 btn" >

        </div>
          <div class="col-sm-1 btn">
              <label>Hora inicio síntomas</label>
          </div>
          <div class="col-sm-2 btn">

                {% if Tiempo.horaInicioSintomas %} {{Tiempo.horaInicioSintomas}}{% else %} <font style = "color: red"> dato faltante </font> {% endif %}

          </div>

          <div class="col-sm-1 " >

          </div>

          <div class="col-sm-2 btn">

          </div>


</div>

<div class= "row ">
        <div class="col-sm-1 btn" >

        </div>
          <div class="col-sm-1 btn">
              <label>Hora llegada UEA</label>
          </div>
          <div class="col-sm-2 btn">


                {% if Tiempo.horaLlegadaUEA %} {{Tiempo.horaLlegadaUEA}}{% else %} <font style = "color: red"> dato faltante </font> {% endif %}

          </div>

          <div class="col-sm-1 " >

          </div>

          <div class="col-sm-2 btn">

          </div>


</div>

<div class= "row ">
        <div class="col-sm-1 btn" >

        </div>
          <div class="col-sm-1 btn">
              <label>Hora TRIAGE</label>
          </div>
          <div class="col-sm-2 btn">


              {% if Tiempo.horaTRIAGE %} {{Tiempo.horaTRIAGE}}{% else %} <font style = "color: red"> dato faltante </font> {% endif %}

          </div>

          <div class="col-sm-1 " >

          </div>

          <div class="col-sm-2 btn">

          </div>


</div>



<div class= "row ">
        <div class="col-sm-1 btn" >

        </div>
          <div class="col-sm-1 btn">
              <label>Hora evaluación por neurología</label>
          </div>
          <div class="col-sm-2 btn">


              {% if Tiempo.horaEvaluacionNeurologia %} {{Tiempo.horaEvaluacionNeurologia}}{% else %} <font style = "color: red"> dato faltante </font> {% endif %}

          </div>

          <div class="col-sm-1 " >

          </div>

          <div class="col-sm-2 btn">

          </div>


</div>

<div class= "row ">
        <div class="col-sm-1 btn" >

        </div>
          <div class="col-sm-1 btn">
              <label>Hora TC encéfalo</label>
          </div>
          <div class="col-sm-2 btn">


              {% if Tiempo.horaTCEncefalo %} {{Tiempo.horaTCEncefalo}}{% else %} <font style = "color: red"> dato faltante </font> {% endif %}

          </div>

          <div class="col-sm-1 " >

          </div>

          <div class="col-sm-2 btn">

          </div>


</div>

<div class= "row ">
        <div class="col-sm-1 btn" >

        </div>
          <div class="col-sm-1 btn">
              <label>Hora inicio bolo trombolisis</label>
          </div>
          <div class="col-sm-2 btn">

                {% if Tiempo.horaBoloTrombolisis %} {{Tiempo.horaBoloTrombolisis}}{% else %} <font style = "color: red"> dato faltante </font> {% endif %}


          </div>

          <div class="col-sm-1 " >

          </div>

          <div class="col-sm-2 btn">

          </div>


</div>

<div class= "row ">
        <div class="col-sm-1 btn" >

        </div>
          <div class="col-sm-1 btn">
              <label>Hora inicio trombectomía</label>
          </div>
          <div class="col-sm-2 btn">

                  {% if Tiempo.horaTrombectomia %} {{Tiempo.horaTrombectomia}}{% else %} <font style = "color: red"> dato faltante </font> {% endif %}

          </div>

          <div class="col-sm-1 " >

          </div>

          <div class="col-sm-2 btn">

          </div>


</div>

<div class= "row ">
        <div class="col-sm-1 btn" >

        </div>
          <div class="col-sm-1 btn">
              <label>Hora reperfusión</label>
          </div>
          <div class="col-sm-2 btn">


              {% if Tiempo.horaReperfusion %} {{Tiempo.horaReperfusion}}{% else %} <font style = "color: red"> dato faltante </font> {% endif %}

          </div>

          <div class="col-sm-1 " >

          </div>

          <div class="col-sm-2 btn">

          </div>


</div>

  <!--                                            imagenología               -->


  <div class= "row ">
          <div class="col-sm-5 btn" >
          <h3 style="background-color:lightblue" >Imagenología</h3>
          </div>
            <div class="col-sm-1 btn">

            </div>
            <div class="col-sm-2 btn">


            </div>

            <div class="col-sm-1 " >

            </div>

            <div class="col-sm-2 btn">

            </div>

  </div>

    <div class= "row ">
            <div class="col-sm-1 btn" >

            </div>
              <div class="col-sm-1 btn">
                  <label>ASPECTS</label>
              </div>
              <div class="col-sm-2 btn">


                  {% if Reperfusion.aspects %} {{Reperfusion.aspects}}{% else %} <font style = "color: red"> dato faltante </font> {% endif %}

              </div>

              <div class="col-sm-1 " >

              </div>

              <div class="col-sm-2 btn">

              </div>


    </div>

    <div class= "row ">
            <div class="col-sm-1 btn" >

            </div>
              <div class="col-sm-1 btn">
                  <label>TICI</label>
              </div>
              <div class="col-sm-2 btn">


                  {% if Reperfusion.tici %} {{Reperfusion.tici}}{% else %} <font style = "color: red"> dato faltante </font> {% endif %}

              </div>

              <div class="col-sm-1 " >

              </div>

              <div class="col-sm-2 btn">

              </div>


    </div>

    <div class= "row ">
            <div class="col-sm-1 btn" >

            </div>
              <div class="col-sm-1 btn">
                  <label>Oclusión de grandes vasos</label>
              </div>
              <div class="col-sm-2 btn">

                  {% if Reperfusion.oclusionGrandesVasos %} {{Reperfusion.oclusionGrandesVasos}}{% else %} <font style = "color: red"> dato faltante </font> {% endif %}

              </div>

              <div class="col-sm-1 " >

              </div>

              <div class="col-sm-2 btn">

              </div>


    </div>


</br>
<hr>
</br>

  <div class= "row ">
          <div class="col-sm-5 btn">
          <h2 style="background-color:lightblue" >Score</h2>
          </div>
            <div class="col-sm-1 btn">

            </div>
            <div class="col-sm-2 btn">


            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">

            </div>



  </div>

  <div class= "row ">
          <div class="col-sm-5 btn">
          <h6 style="background-color:lightblue" >NIHSS</h6>
          </div>
            <div class="col-sm-1 btn">

            </div>
            <div class="col-sm-5 btn">
            <h6 style="background-color:lightblue" >mRs</h6>
            </div>
              <div class="col-sm-1 btn">

              </div>



  </div>

  <div class= "row ">
            <div class="col-sm-1 btn">

            </div>

            <div class="col-sm-1 btn">
                <label>Ingreso</label>
            </div>

            <div class="col-sm-1 btn">

                {% if Score.NIHSSScaleIngreso %} {{Score.NIHSSScaleIngreso}}{% else %} <font style = "color: red"> dato faltante </font> {% endif %}
            </div>

            <div class="col-sm-2 " >

            </div>


            <div class="col-sm-2 btn">

            </div>

            <div class="col-sm-1 btn">
                <label>Ingreso</label>
            </div>

            <div class="col-sm-1 btn">

              {% if Score.mRSScaleIngreso %} {{Score.mRSScaleIngreso}}{% else %} <font style = "color: red"> dato faltante </font> {% endif %}

            </div>

            <div class="col-sm-2 " >

            </div>


  </div>

  <div class= "row ">
            <div class="col-sm-1 btn">

            </div>

            <div class="col-sm-1 btn">
                <label>24 hrs</label>
            </div>

            <div class="col-sm-1 btn">

                  {% if Score.NIHSSScale24hrs %} {{Score.NIHSSScale24hrs}}{% else %} <font style = "color: red"> dato faltante </font> {% endif %}
            </div>

            <div class="col-sm-2 " >

            </div>


            <div class="col-sm-2 btn">

            </div>

            <div class="col-sm-1 btn">
                <label>Alta</label>
            </div>

            <div class="col-sm-1 btn">


                  {% if Score.mRSScaleAlta %} {{Score.mRSScaleAlta}}{% else %} <font style = "color: red"> dato faltante </font> {% endif %}
            </div>

            <div class="col-sm-2 " >

            </div>


  </div>

  <div class= "row ">
            <div class="col-sm-1 btn">

            </div>

            <div class="col-sm-1 btn">
                <label>Alta</label>
            </div>

            <div class="col-sm-1 btn">

              {% if Score.NIHSSScaleAlta %} {{Score.NIHSSScaleAlta}}{% else %} <font style = "color: red"> dato faltante </font> {% endif %}

            </div>

            <div class="col-sm-2 " >

            </div>


            <div class="col-sm-2 btn">

            </div>

            <div class="col-sm-1 btn">
                <label>3 Meses</label>
            </div>

            <div class="col-sm-1 btn">


                {% if Score.mRSScale3Meses %} {{Score.mRSScale3Meses}}{% else %} <font style = "color: red"> dato faltante </font> {% endif %}

            </div>

            <div class="col-sm-2 " >

            </div>


  </div>

  <div class= "row ">
            <div class="col-sm-1 btn">

            </div>

            <div class="col-sm-1 btn">
                <label>3 Meses</label>
            </div>

            <div class="col-sm-1 btn">

                  {% if Score.NIHSSScale3Meses %} {{Score.NIHSSScale3Meses}}{% else %} <font style = "color: red"> dato faltante </font> {% endif %}
            </div>

            <div class="col-sm-2 " >

            </div>


            <div class="col-sm-2 btn">

            </div>

            <div class="col-sm-1 btn">

            </div>

            <div class="col-sm-1 btn">

            </div>

            <div class="col-sm-2 " >

            </div>


  </div>



</br>
<hr>
</br>

  <div class= "row ">
          <div class="col-sm-5 btn">
          <h2 style="background-color:lightblue" >clasificación</h2>
          </div>
            <div class="col-sm-1 btn">

            </div>
            <div class="col-sm-2 btn">


            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">

            </div>



  </div>


  <div class= "row ">
          <div class="col-sm-1 btn">

          </div>
            <div class="col-sm-1 btn">
                <label>OXFORDSHIR</label>
            </div>
            <div class="col-sm-2 btn">

                  {% if Reperfusion.oxfordshir %} {{Reperfusion.oxfordshir}}{% else %} <font style = "color: red"> dato faltante </font> {% endif %}

            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">

            </div>



  </div>


    <div class= "row ">
            <div class="col-sm-1 btn">

            </div>
              <div class="col-sm-1 btn">
                  <label>TOAST</label>
              </div>
              <div class="col-sm-2 btn">

                    {% if Reperfusion.toast %} {{Reperfusion.toast}}{% else %} <font style = "color: red"> dato faltante </font> {% endif %}

              </div>

              <div class="col-sm-2 " >

              </div>

              <div class="col-sm-2 btn">

              </div>



    </div>



</br>
<hr>
</br>

  <div class= "row ">
          <div class="col-sm-5 btn">
          <h2 style="background-color:lightblue" >Comentarios</h2>
          </div>
            <div class="col-sm-1 btn">

            </div>
            <div class="col-sm-2 btn">


            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">

            </div>



  </div>




  <div class= "row ">
          <div class="col-sm-1 btn">

          </div>
          <div class="col-sm-1 btn">
              <label>Complicaciones</label>
          </div>
            <div class="col-sm-2 btn">

                  {% if Reperfusion.complicaciones %} {{Reperfusion.complicaciones}}{% else %} <font style = "color: red"> dato faltante </font> {% endif %}
            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">

            </div>

  </div>

  <div class= "row ">
          <div class="col-sm-1 btn">

          </div>
          <div class="col-sm-1 btn">
              <label>Otros</label>
          </div>
            <div class="col-sm-2 btn">

              {% if Reperfusion.otros %} {{Reperfusion.otros}}{% else %} <font style = "color: red"> dato faltante </font> {% endif %}


            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">

            </div>

  </div>



  <div style="display: none; ">


   </div>









  {% endblock %}
