{% extends "base_reperfusion.html" %}
{% block title %}Editar terapia de reperfusión{% endblock %}


{% block content %}

<form action="." method="POST">{% csrf_token %}

  {{form.errors}}
  <br>

  {{form_c.errors}}
  <br>

  {{form_p.errors}}
  <br>
  <hr>
  <div class= "row ">
  <div class="col-sm-1 btn">
  </div>
  <h1>Editar terapia de reperfusión</h1>

  </div>
  <hr>
  <div class= "row ">
          <div class="col-sm-5 btn" >
            <h3 style="background-color:lightblue">Paciente</h3>
          </div>
            <div class="col-sm-1 btn">

            </div>
            <div class="col-sm-2 btn">


            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">

            </div>



  </div>

  <div class= "row ">
          <div class="col-sm-1 btn" >

          </div>
            <div class="col-sm-1 btn">
                <label>Nombres</label>
            </div>
            <div class="col-sm-2 btn">
                {{Paciente.nombres}}

            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">

            </div>



  </div>


  <div class= "row ">
          <div class="col-sm-1 btn">
          </div>
            <div class="col-sm-1 btn">
                <label>Apellido paterno</label>
            </div>
            <div class="col-sm-2 btn">
                {{Paciente.primerApellido}}

            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">

            </div>

</div>

  <div class= "row ">
          <div class="col-sm-1 btn">
          </div>
            <div class="col-sm-1 btn">
                <label>Apellido materno</label>
            </div>
            <div class="col-sm-2 btn">
                {{Paciente.segundoApellido}}

            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">

            </div>



  </div>




  <div class= "row ">
          <div class="col-sm-1 btn">
          </div>
            <div class="col-sm-1 btn">
                <label>Cuenta corriente</label>
            </div>
            <div class="col-sm-2 btn">
                {{Paciente.cuentaCorriente}}

            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">

            </div>


  </div>

<!-- Hospitalización -->
</br>
<hr>
</br>
  <div class= "row ">
          <div class="col-sm-5 btn" >
            <h3 style="background-color:lightblue">Médico</h3>
          </div>
            <div class="col-sm-1 btn">

            </div>
            <div class="col-sm-2 btn">


            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">

            </div>



  </div>


  <div class= "row ">
          <div class="col-sm-1 btn" >

          </div>
            <div class="col-sm-1 btn">
                <label>Médico Tratante</label>
            </div>
            <div class="col-sm-2 btn">
                {{form_r.medico}}

            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">
                {{form_r.medico.errors}}
            </div>



  </div>




</br>
<hr>
</br>

  <div class= "row ">
          <div class="col-sm-5 btn" >
          <h3 style="background-color:lightblue">Procedimiento</h3>
          </div>
            <div class="col-sm-1 btn">

            </div>
            <div class="col-sm-2 btn">


            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">

            </div>



  </div>

  <div class= "row ">
          <div class="col-sm-1 btn" >

          </div>
            <div class="col-sm-1 btn">
                <label>Procedimiento</label>
            </div>
            <div class="col-sm-2 btn">
                {{form_r.procedimiento}}

            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">
                {{form_r.procedimiento.errors}}
            </div>



  </div>


  <div class= "row ">
          <div class="col-sm-1 btn" >

          </div>
            <div class="col-sm-1 btn">
                <label>Fecha</label>
            </div>
            <div class="col-sm-2 btn">
                {{form_r.fecha}}

            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">
                {{form_r.fecha.errors}}
            </div>



  </div>


  <div class= "row ">
          <div class="col-sm-1 btn" >

          </div>
            <div class="col-sm-1 btn">
                <label>Fármaco</label>
            </div>
            <div class="col-sm-2 btn">
                {{form_r.farmacoTrombolisis}}

            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">
                {{form_r.farmacoTrombolisis.errors}}
            </div>



  </div>

</br>
<hr>
</br>

<!--                                            antecedentes               -->


<div class= "row ">
        <div class="col-sm-5 btn" >
        <h3 style="background-color:lightblue" >Antecedentes</h3>
        </div>
          <div class="col-sm-1 btn">

          </div>
          <div class="col-sm-2 btn">


          </div>

          <div class="col-sm-1 " >

          </div>

          <div class="col-sm-2 btn">

          </div>


</div>


  <div class= "row ">
          <div class="col-sm-1 btn" >

          </div>
            <div class="col-sm-1 btn">
                <label>HTA</label>
            </div>
            <div class="col-sm-2 btn">
                {{form_a.hta}}

            </div>

            <div class="col-sm-1 " >

            </div>

            <div class="col-sm-2 btn">
                {{form_a.hta.errors}}
            </div>


  </div>


  <div class= "row ">
          <div class="col-sm-1 btn" >

          </div>
            <div class="col-sm-1 btn">
                <label>DM</label>
            </div>
            <div class="col-sm-2 btn">
                {{form_a.dm}}

            </div>

            <div class="col-sm-1 " >

            </div>

            <div class="col-sm-2 btn">
                {{form_a.dm.errors}}
            </div>


  </div>

  <div class= "row ">
          <div class="col-sm-1 btn" >

          </div>
            <div class="col-sm-1 btn">
                <label>DLP</label>
            </div>
            <div class="col-sm-2 btn">
                {{form_a.dlp}}

            </div>

            <div class="col-sm-1 " >

            </div>

            <div class="col-sm-2 btn">
                {{form_a.dlp.errors}}
            </div>


  </div>


  <div class= "row ">
          <div class="col-sm-1 btn" >

          </div>
            <div class="col-sm-1 btn">
                <label>TBQ</label>
            </div>
            <div class="col-sm-2 btn">
                {{form_a.tbq}}

            </div>

            <div class="col-sm-1 " >

            </div>

            <div class="col-sm-2 btn">
                {{form_a.tbq.errors}}
            </div>


  </div>



  <div class= "row ">
          <div class="col-sm-1 btn" >

          </div>
            <div class="col-sm-1 btn">
                <label>ACxFA</label>
            </div>
            <div class="col-sm-2 btn">
                {{form_a.acxfa}}

            </div>

            <div class="col-sm-1 " >

            </div>

            <div class="col-sm-2 btn">
                {{form_a.acxfa.errors}}
            </div>


  </div>

  <div class= "row ">
          <div class="col-sm-1 btn" >

          </div>
            <div class="col-sm-1 btn">
                <label>ACV previo</label>
            </div>
            <div class="col-sm-2 btn">
                {{form_a.acvPrevio}}

            </div>

            <div class="col-sm-1 " >

            </div>

            <div class="col-sm-2 btn">
                {{form_a.acvPrevio.errors}}
            </div>


  </div>


  <div class= "row ">
          <div class="col-sm-1 btn" >

          </div>
            <div class="col-sm-1 btn">
                <label>Farmacos</label>
            </div>
            <div class="col-sm-2 btn">
                {{form_a.farmacos}}

            </div>

            <div class="col-sm-1 " >

            </div>

            <div class="col-sm-2 btn">
                {{form_a.farmacos.errors}}
            </div>


  </div>

  <div class= "row ">
          <div class="col-sm-1 btn" >

          </div>
            <div class="col-sm-1 btn">
                <label>Anticoagulante</label>
            </div>
            <div class="col-sm-2 btn">
                {{form_a.anticoagulante}}

            </div>

            <div class="col-sm-1 " >

            </div>

            <div class="col-sm-2 btn">
                {{form_a.anticoagulante.errors}}
            </div>


  </div>


  <div class= "row ">
          <div class="col-sm-1 btn" >

          </div>
            <div class="col-sm-1 btn">
                <label>Antecedentes médicos</label>
            </div>
            <div class="col-sm-2 btn">
                {{form_a.antecedentesMedicos}}

            </div>

            <div class="col-sm-1 " >

            </div>

            <div class="col-sm-2 btn">
                {{form_a.antecedentesMedicos.errors}}
            </div>


  </div>

  <div class= "row ">
          <div class="col-sm-1 btn" >

          </div>
            <div class="col-sm-1 btn">
                <label>Otros</label>
            </div>
            <div class="col-sm-2 btn">
                {{form_a.otros}}

            </div>

            <div class="col-sm-1 " >

            </div>

            <div class="col-sm-2 btn">
                {{form_a.otros.errors}}
            </div>


  </div>



</br>
<hr>
</br>

<!--                                            itiempos criticos              -->
<div class= "row ">
      <div class="col-sm-5 btn" >
      <h3 style="background-color:lightblue" >Tiempos críticos</h3>
      </div>
        <div class="col-sm-1 btn">

        </div>
        <div class="col-sm-2 btn">


        </div>

        <div class="col-sm-1 " >

        </div>

        <div class="col-sm-2 btn">

        </div>


</div>

<div class= "row ">
        <div class="col-sm-1 btn" >

        </div>
          <div class="col-sm-1 btn">
              <label>Hora inicio síntomas</label>
          </div>
          <div class="col-sm-2 btn">
              {{form_t.horaInicioSintomas}}

          </div>

          <div class="col-sm-1 " >

          </div>

          <div class="col-sm-2 btn">
              {{form_t.horaInicioSintomas.errors}}
          </div>


</div>

<div class= "row ">
        <div class="col-sm-1 btn" >

        </div>
          <div class="col-sm-1 btn">
              <label>Hora llegada UEA</label>
          </div>
          <div class="col-sm-2 btn">
              {{form_t.horaLlegadaUEA}}

          </div>

          <div class="col-sm-1 " >

          </div>

          <div class="col-sm-2 btn">
              {{form_t.horaLlegadaUEA.errors}}
          </div>


</div>

<div class= "row ">
        <div class="col-sm-1 btn" >

        </div>
          <div class="col-sm-1 btn">
              <label>Hora TRIAGE</label>
          </div>
          <div class="col-sm-2 btn">
              {{form_t.horaTRIAGE}}

          </div>

          <div class="col-sm-1 " >

          </div>

          <div class="col-sm-2 btn">
              {{form_t.horaTRIAGE.errors}}
          </div>


</div>

<div class= "row ">
        <div class="col-sm-1 btn" >

        </div>
          <div class="col-sm-1 btn">
              <label>Hora TRIAGE</label>
          </div>
          <div class="col-sm-2 btn">
              {{form_t.horaTRIAGE}}

          </div>

          <div class="col-sm-1 " >

          </div>

          <div class="col-sm-2 btn">
              {{form_t.horaTRIAGE.errors}}
          </div>


</div>

<div class= "row ">
        <div class="col-sm-1 btn" >

        </div>
          <div class="col-sm-1 btn">
              <label>Hora evaluación por neurología</label>
          </div>
          <div class="col-sm-2 btn">
              {{form_t.horaEvaluacionNeurologia}}

          </div>

          <div class="col-sm-1 " >

          </div>

          <div class="col-sm-2 btn">
              {{form_t.horaEvaluacionNeurologia.errors}}
          </div>


</div>

<div class= "row ">
        <div class="col-sm-1 btn" >

        </div>
          <div class="col-sm-1 btn">
              <label>Hora TC encéfalo</label>
          </div>
          <div class="col-sm-2 btn">
              {{form_t.horaTCEncefalo}}

          </div>

          <div class="col-sm-1 " >

          </div>

          <div class="col-sm-2 btn">
              {{form_t.horaTCEncefalo.errors}}
          </div>


</div>

<div class= "row ">
        <div class="col-sm-1 btn" >

        </div>
          <div class="col-sm-1 btn">
              <label>Hora inicio bolo trombolisis</label>
          </div>
          <div class="col-sm-2 btn">
              {{form_t.horaBoloTrombolisis}}

          </div>

          <div class="col-sm-1 " >

          </div>

          <div class="col-sm-2 btn">
              {{form_t.horaBoloTrombolisis.errors}}
          </div>


</div>

<div class= "row ">
        <div class="col-sm-1 btn" >

        </div>
          <div class="col-sm-1 btn">
              <label>Hora inicio trombectomía</label>
          </div>
          <div class="col-sm-2 btn">
              {{form_t.horaTrombectomia}}

          </div>

          <div class="col-sm-1 " >

          </div>

          <div class="col-sm-2 btn">
              {{form_t.horaTrombectomia.errors}}
          </div>


</div>

<div class= "row ">
        <div class="col-sm-1 btn" >

        </div>
          <div class="col-sm-1 btn">
              <label>Hora reperfusión</label>
          </div>
          <div class="col-sm-2 btn">
              {{form_t.horaReperfusion}}

          </div>

          <div class="col-sm-1 " >

          </div>

          <div class="col-sm-2 btn">
              {{form_t.horaReperfusion.errors}}
          </div>


</div>

  <!--                                            imagenología               -->


  <div class= "row ">
          <div class="col-sm-5 btn" >
          <h3 style="background-color:lightblue" >Imagenología</h3>
          </div>
            <div class="col-sm-1 btn">

            </div>
            <div class="col-sm-2 btn">


            </div>

            <div class="col-sm-1 " >

            </div>

            <div class="col-sm-2 btn">

            </div>

  </div>

    <div class= "row ">
            <div class="col-sm-1 btn" >

            </div>
              <div class="col-sm-1 btn">
                  <label>ASPECTS</label>
              </div>
              <div class="col-sm-2 btn">
                  {{form_r.aspects}}

              </div>

              <div class="col-sm-1 " >

              </div>

              <div class="col-sm-2 btn">
                  {{form_r.aspects.errors}}
              </div>


    </div>

    <div class= "row ">
            <div class="col-sm-1 btn" >

            </div>
              <div class="col-sm-1 btn">
                  <label>TICI</label>
              </div>
              <div class="col-sm-2 btn">
                  {{form_r.tici}}

              </div>

              <div class="col-sm-1 " >

              </div>

              <div class="col-sm-2 btn">
                  {{form_r.tici.errors}}
              </div>


    </div>

    <div class= "row ">
            <div class="col-sm-1 btn" >

            </div>
              <div class="col-sm-1 btn">
                  <label>Oclusión de grandes vasos</label>
              </div>
              <div class="col-sm-2 btn">
                  {{form_r.oclusionGrandesVasos}}

              </div>

              <div class="col-sm-1 " >

              </div>

              <div class="col-sm-2 btn">
                  {{form_r.oclusionGrandesVasos.errors}}
              </div>


    </div>


</br>
<hr>
</br>

  <div class= "row ">
          <div class="col-sm-5 btn">
          <h2 style="background-color:lightblue" >Score</h2>
          </div>
            <div class="col-sm-1 btn">

            </div>
            <div class="col-sm-2 btn">


            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">

            </div>



  </div>

  <div class= "row ">
          <div class="col-sm-5 btn">
          <h6 style="background-color:lightblue" >NIHSS</h6>
          </div>
            <div class="col-sm-1 btn">

            </div>
            <div class="col-sm-5 btn">
            <h6 style="background-color:lightblue" >mRs</h6>
            </div>
              <div class="col-sm-1 btn">

              </div>



  </div>

  <div class= "row ">
            <div class="col-sm-1 btn">

            </div>

            <div class="col-sm-1 btn">
                <label>Ingreso</label>
            </div>

            <div class="col-sm-1 btn">
                {{form_s.NIHSSScaleIngreso }}
            </div>

            <div class="col-sm-2 " >
              {{form_s.NIHSSScaleIngreso.errors}}
            </div>


            <div class="col-sm-2 btn">

            </div>

            <div class="col-sm-1 btn">
                <label>Ingreso</label>
            </div>

            <div class="col-sm-1 btn">
                {{form_s.mRSScaleIngreso }}
            </div>

            <div class="col-sm-2 " >
              {{form_s.mRSScaleIngreso.errors}}
            </div>


  </div>

  <div class= "row ">
            <div class="col-sm-1 btn">

            </div>

            <div class="col-sm-1 btn">
                <label>24 hrs</label>
            </div>

            <div class="col-sm-1 btn">
                {{form_s.NIHSSScale24hrs }}
            </div>

            <div class="col-sm-2 " >
              {{form_s.NIHSSScale24hrs.errors}}
            </div>


            <div class="col-sm-2 btn">

            </div>

            <div class="col-sm-1 btn">
                <label>Alta</label>
            </div>

            <div class="col-sm-1 btn">
                {{form_s.mRSScaleAlta }}
            </div>

            <div class="col-sm-2 " >
              {{form_s.mRSScaleAlta.errors}}
            </div>


  </div>

  <div class= "row ">
            <div class="col-sm-1 btn">

            </div>

            <div class="col-sm-1 btn">
                <label>Alta</label>
            </div>

            <div class="col-sm-1 btn">
                {{form_s.NIHSSScaleAlta }}
            </div>

            <div class="col-sm-2 " >
              {{form_s.NIHSSScaleAlta.errors}}
            </div>


            <div class="col-sm-2 btn">

            </div>

            <div class="col-sm-1 btn">
                <label>3 Meses</label>
            </div>

            <div class="col-sm-1 btn">
                {{form_s.mRSScale3Meses }}
            </div>

            <div class="col-sm-2 " >
              {{form_s.mRSScale3Meses.errors}}
            </div>


  </div>

  <div class= "row ">
            <div class="col-sm-1 btn">

            </div>

            <div class="col-sm-1 btn">
                <label>3 Meses</label>
            </div>

            <div class="col-sm-1 btn">
                {{form_s.NIHSSScale3Meses }}
            </div>

            <div class="col-sm-2 " >
              {{form_s.NIHSSScale3Meses.errors}}
            </div>


            <div class="col-sm-2 btn">

            </div>

            <div class="col-sm-1 btn">

            </div>

            <div class="col-sm-1 btn">

            </div>

            <div class="col-sm-2 " >

            </div>


  </div>



</br>
<hr>
</br>

  <div class= "row ">
          <div class="col-sm-5 btn">
          <h2 style="background-color:lightblue" >clasificación</h2>
          </div>
            <div class="col-sm-1 btn">

            </div>
            <div class="col-sm-2 btn">


            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">

            </div>



  </div>


  <div class= "row ">
          <div class="col-sm-1 btn">

          </div>
            <div class="col-sm-1 btn">
                <label>OXFORDSHIR</label>
            </div>
            <div class="col-sm-2 btn">
                {{form_r.oxfordshir}}

            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">
                {{form_r.oxfordshir.errors}}
            </div>



  </div>


    <div class= "row ">
            <div class="col-sm-1 btn">

            </div>
              <div class="col-sm-1 btn">
                  <label>TOAST</label>
              </div>
              <div class="col-sm-2 btn">
                  {{form_r.toast}}

              </div>

              <div class="col-sm-2 " >

              </div>

              <div class="col-sm-2 btn">
                  {{form_r.toast.errors}}
              </div>



    </div>



</br>
<hr>
</br>

  <div class= "row ">
          <div class="col-sm-5 btn">
          <h2 style="background-color:lightblue" >Comentarios</h2>
          </div>
            <div class="col-sm-1 btn">

            </div>
            <div class="col-sm-2 btn">


            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">

            </div>



  </div>




  <div class= "row ">
          <div class="col-sm-1 btn">

          </div>
          <div class="col-sm-1 btn">
              <label>Complicaciones</label>
          </div>
            <div class="col-sm-2 btn">
                {{form_r.complicaciones }}

            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">
                {{form_r.complicaciones.errors}}
            </div>

  </div>

  <div class= "row ">
          <div class="col-sm-1 btn">

          </div>
          <div class="col-sm-1 btn">
              <label>Otros</label>
          </div>
            <div class="col-sm-2 btn">
                {{form_r.otros }}

            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">
                {{form_r.otros.errors}}
            </div>

  </div>



  <div style="display: none; ">
  {{form_r.evento}}

  {{form_s.reperfusion}}
  {{form_a.reperfusion}}
  {{form_t.reperfusion}}

   </div>


  <div class="row">
    <div class="col-9"></div>
    <div class="col-3"><input class="btn btn-primary" type="submit" value="Submit" /></div>

   </div>


   </form>



  {% endblock %}
