{% extends "base_reperfusion.html" %}
{% load mathfilters %}





{% block title %}Home Terapia de Reperfusión{% endblock %}
{% block content %}
<hr>
<div class= "row ">
<div class="col-sm-1 btn">
</div>
<h1>Home terapia de reperfusión</h1>
</div>
<hr>
<br>





<div class="container-fluid">
<div class="row">
<div class="col-1">
</div>
    <div class="col-1">
   <a href="{% url "crear_reperfusion"  %} " title= "Nueva terapia de reperfusión"> <i class="fas fa-syringe fa-5x" aria-hidden="true"></i></a>
</div>
  <div class="col-5">



  </div>
  <div class="col-1">
 <a href="{% url "home_reperfusion"  %} " title= "Refrescar"> <i class="fa fa-undo-alt fa-5x" aria-hidden="true"></i></a>
</div>
<div class="col-4">
  <h2> </h2>    <h2> Fecha de hoy: {{hoy}} </h2>
</div>
</div>
</div>





<br>
<br>
<div class="container-fluid">

<table id="table_id" class="display">
    <thead>
        <tr>

          <th style="text-align: center">Fecha</th>
            <th style="text-align: center">Paciente</th>
            <th style="text-align: center" >RUT</th>

            <th style="text-align: center" >Edad</th>
            <th style="text-align: center" >Procedimiento</th>
            <th style="text-align: center" >Controles</th>

            <th style="text-align: center" >Informe</th>

            <th style="text-align: center" >Opciones</th>

        </tr>
    </thead>
<tbody>

  {% if Reperfusion %}
             {% for i in Reperfusion %}

        <tr>

          <td style="text-align: center">{{i.fecha}} </td>

          <td style="text-align: center">{{i.evento.paciente.nombres}} {{i.evento.paciente.primerApellido}} {% if i.evento.paciente.segundoApellido %} {{i.evento.paciente.segundoApellido}}  {% endif %}</td>

          <td style="text-align: center">{% if i.evento.paciente.RUT %} {{i.evento.paciente.RUT}}-{{i.evento.paciente.DV}}{% else %} <font style = "color: red"> dato faltante </font> {% endif %}</td>

          <td style="text-align: center"> edad </td>

          <td style="text-align: center"> {% if i.procedimiento %} {{i.procedimiento}}{% else %} <font style = "color: red"> dato faltante </font> {% endif %} </td>

          <td style="text-align: center">

            <b><font> NIHSS </font> </b>
            Ingreso:
            {%  if i.score_set.all.0.NIHSSScaleIngreso %}
            <font style = "color: green"><i class="fas fa-check"></i> </font>
            {% else %}
            <font style = "color: red"><i class="fas fa-times"></i></font>
            {% endif %}

            24 hrs:
            {%  if i.score_set.all.0.NIHSSScale24hrs %}
            <font style = "color: green"><i class="fas fa-check"></i> </font>
            {% else %}
            <font style = "color: red"><i class="fas fa-times"></i></font>
            {% endif %}

            Alta:
            {%  if i.score_set.all.0.NIHSSScaleAlta %}
            <font style = "color: green"><i class="fas fa-check"></i> </font>
            {% else %}
            <font style = "color: red"><i class="fas fa-times"></i></font>
            {% endif %}

            3 meses:
            {%  if i.score_set.all.0.NIHSSScale3Meses %}
            <font style = "color: green"><i class="fas fa-check"></i> </font>
            {% else %}
            <font style = "color: red"><i class="fas fa-times"></i></font>
            {% endif %}

          </br>
          </br>

          <b><font> mRS </font> </b>
          Ingreso:
          {%  if i.score_set.all.0.mRSScaleIngreso %}
          <font style = "color: green"><i class="fas fa-check"></i> </font>
          {% else %}
          <font style = "color: red"><i class="fas fa-times"></i></font>
          {% endif %}



          Alta:
          {%  if i.score_set.all.0.mRSScaleAlta %}
          <font style = "color: green"><i class="fas fa-check"></i> </font>
          {% else %}
          <font style = "color: red"><i class="fas fa-times"></i></font>
          {% endif %}

          3 meses:
          {%  if i.score_set.all.0.mRSScale3Meses %}
          <font style = "color: green"><i class="fas fa-check"></i> </font>
          {% else %}
          <font style = "color: red"><i class="fas fa-times"></i></font>
          {% endif %}





         </td>

          <td style="text-align: center">
             {% if i.fecha and  i.procedimiento and i.farmacoTrombolisis and i.aspects and i.tici and i.oclusionGrandesVasos and i.oxfordshir and i.toast and i.complicaciones and i.otros and  i.score_set.all.0.NIHSSScaleIngreso and i.score_set.all.0.NIHSSScale24hrs and i.score_set.all.0.NIHSSScaleAlta  and i.score_set.all.0.NIHSSScale3Meses and i.score_set.all.0.mRSScaleIngreso and i.score_set.all.0.mRSScaleAlta and i.score_set.all.0.mRSScale3Meses and i.tiempo_set.all.0.horaInicioSintomas and i.tiempo_set.all.0.horaLlegadaUEA and i.tiempo_set.all.0.horaTRIAGE and i.tiempo_set.all.0.horaEvaluacionNeurologia and i.tiempo_set.all.0.horaTCEncefalo and i.tiempo_set.all.0.horaBoloTrombolisis and i.tiempo_set.all.0.horaTrombectomia and i.tiempo_set.all.0.horaReperfusion and i.antecedentes_set.all.0.hta and i.antecedentes_set.all.0.dm and i.antecedentes_set.all.0.dlp and i.antecedentes_set.all.0.tbq and i.antecedentes_set.all.0.acxfa and i.antecedentes_set.all.0.farmacos and i.antecedentes_set.all.0.anticoagulante and i.antecedentes_set.all.0.acvPrevio and i.antecedentes_set.all.0.antecedentesMedicos and i.antecedentes_set.all.0.otros  %}

             <font style = "color: green"> Completo <i class="fas fa-check"></i> </font>

             {% else %}
              <font style = "color: red"> Incompleto <i class="fas fa-times"></i></font>
            {% endif %}

           </td>





          <td style="text-align: center"> <a href="{% url "detalle_reperfusion" i.id  %} " title= "Detalle de reperfusion">   <i class="fas fa-eye"></i> </a>
        / <a href="{% url "editar_reperfusion" i.id %}" title= "Editar reperfusion"> <i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
        / <a href="{% url "reporte_personal" i.id %}" title= "Reporte personal"> <i class="fas fa-signal"></i></a>


        </tr>



        {% endfor %}
  {% endif %}

  </tbody>


    <tfoot>
        <tr>
          <th style="text-align: center">Fecha</th>
            <th style="text-align: center">Paciente</th>
            <th style="text-align: center" >RUT</th>
            <th style="text-align: center" >Edad</th>
            <th style="text-align: center" >Procedimiento</th>
            <th style="text-align: center" >Controles</th>
            <th style="text-align: center" >Informe</th>
            <th style="text-align: center" >Opciones</th>
        </tr>
    </tfoot>

</table>


</div>










<!-- Button trigger modal -->
<!--  Launch demo modal
</button>-->






 <script type="text/javascript">



  $(document).ready( function () {
    $('#table_id').DataTable(

      {
                  "language":{
                      "lengthMenu":"Mostrar _MENU_ registros por página.",
                      "zeroRecords": "Lo sentimos, no se han registrado hospitalizaciones dentro del turno.",
                      "info": "Mostrando página _PAGE_ de _PAGES_",
                      "infoEmpty": "No se ha encontrado coincidencia.",
                      "infoFiltered": "(filtrados de un total de _MAX_ registros)",
                      "search" : "Buscar",
                      "LoadingRecords": "Cargando ...",
                      "Processing": "Procesando...",
                      "SearchPlaceholder": "Comience a teclear...",
                      "paginate": {
                          "previous": "Anterior",
                          "next": "Siguiente",
                           }

                }

               }


    );
} );



$('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('New message to ' + recipient)
  modal.find('.modal-body input').val(recipient)
})
</script>

{% endblock %}
