
{% extends "base_reperfusion.html" %}
{% load mathfilters %}





{% block title %}Home Terapia de Reperfusión{% endblock %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<hr>
<div class= "row ">
<div class="col-sm-1 btn">
</div>
<h1>Reporte personal: {{Paciente.nombres}} {{Paciente.primerApellido}}</h1>
</div>
<hr>
<br>


<div class="container-fluid">
  <div class= "row ">
<div class="col-sm-6 btn">
<div id="container"></div>

</div>

<div class="col-sm-6 btn">
<div id="container2"></div>

</div>
</div>

<div class= "row ">
<div class="col-sm-6 btn">
<div id="container3"></div>

</div>

<div class="col-sm-6 btn">
<div id="container4"></div>

</div>
</div>

<script>
// Build the chart
Highcharts.chart('container', {
  chart: {
      plotBackgroundColor: null,
      plotBorderWidth: null,
      plotShadow: false,
      type: 'pie'
  },
  title: {
      text: 'mejora'
  },
  tooltip: {
      pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
  },
  plotOptions: {
      pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
              enabled: false
          },
          showInLegend: true
      }
  },
  series: [{
      name: 'Brands',
      colorByPoint: true,
      data: [{
          name: '1',
          y: 61.41,
          sliced: true,
          selected: true
      }, {
          name: '',
          y: 11.84
      }, {
          name: '2',
          y: 10.85
      }, {
          name: '3',
          y: 4.67
      }, {
          name: '4',
          y: 4.18
      }, {
          name: '5',
          y: 7.05
      }]
  }]
});


    Highcharts.chart('container2', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Tiempos Criticos'
        },
        xAxis: {
            categories: ['Inivio sintomas', 'Llegada UEA', 'TRIAGE', 'Evaluacion neurología', 'TC encefalo', 'Bolo trombolisis', 'Inicio trombectomia', 'reperfusion']
        },

        yAxis: {
          title: {
            text: 'Tiempo'
          }
        },
          series: [{
              name: '{{Paciente.nombres}} {{Paciente.primerApellido}}',
              data: [7, 31, 635, 203, 2, 7 , 9 , 1]
          }]
      });


      Highcharts.chart('container3', {
          chart: {
              type: 'line'
          },
          title: {
              text: 'NIHSS Scale'
          },
          xAxis: {
              categories: ['Ingreso', '24 hrs', 'Alta', '3 meses']
          },

          yAxis: {
            title: {
              text: 'Valor'
            }
          },
          series: [{
              name: 'NIHSS',
              data: [{{Score.NIHSSScaleIngreso}}, {{Score.NIHSSScale24hrs}}, {{Score.NIHSSScaleAlta}}, {{Score.NIHSSScale3Meses}}]
          }],

        });


        Highcharts.chart('container4', {
            chart: {
                type: 'line'
            },
            title: {
                text: 'mRS Scale'
            },
            xAxis: {
                categories: ['Ingreso', 'Alta', '3 meses']
            },

            yAxis: {
              title: {
                text: 'Tiempo'
              }
            },
            series: [{
                name: 'mRS',
                data: [{{Score.mRSScaleIngreso}},{{Score.mRSScaleAlta}}, {{Score.mRSScale3Meses}} ]
            }],

          });


  </script>
{% endblock %}
