{% extends "base_popupR.html" %}
{% block title %}Nueva turno{% endblock %}
{% block content %}

<form action="/administracion_turnos/crear_revision/" method="POST">{% csrf_token %}

  <hr>
  <div class= "row ">

  <div class="col-sm-1 btn">
  <h5>Crear revisión</h5>
</div>
  </div>
  <hr>

  <div class= "row ">


            <div class="col-sm-1 btn">
                <label>Realizar revisión en</label>
            </div>
            <div class="col-sm-2 btn">
                {{form.revision}}

            </div>







</div>



<div class= "row ">
        <div class="col-sm-2 btn">
      {{form.revision.errors}}

          </div>
          <div class="col-sm-2 btn">


          </div>

          <div class="col-sm-2 " style="display: none;" >

            {{form.control}}


          </div>

          <div class="col-sm-2 btn">

          </div>



</div>




<input class="btn btn-primary" type="submit" value="Submit" />





</form>

 {% endblock %}
