
{% extends "base_turno.html" %}
{% block title %}Nueva turno{% endblock %}


{% block content %}

<form action="/administracion_turnos/crear_hospitalizacion/" method="POST">{% csrf_token %}

  {{form.errors}}
  <br>

  {{form_c.errors}}
  <br>

  {{form_p.errors}}
  <br>
  <hr>
  <div class= "row ">
  <div class="col-sm-1 btn">
  </div>
  <h1>Crear hospitalización</h1>

  </div>
  <hr>
  <div class= "row ">
          <div class="col-sm-5 btn" >
            <h3 style="background-color:lightblue">Paciente</h3>
          </div>
            <div class="col-sm-1 btn">

            </div>
            <div class="col-sm-2 btn">


            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">

            </div>



  </div>

  <div class= "row ">
          <div class="col-sm-1 btn" >

          </div>
            <div class="col-sm-1 btn">
                <label>Nombres</label>
            </div>
            <div class="col-sm-2 btn">
                {{form_p.nombres}}

            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">
                {{form_p.nombres.errors}}
            </div>



  </div>


  <div class= "row ">
          <div class="col-sm-1 btn">
          </div>
            <div class="col-sm-1 btn">
                <label>Apellido paterno</label>
            </div>
            <div class="col-sm-2 btn">
                {{form_p.primerApellido}}

            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">
                {{form_p.primerApellido.errors}}
            </div>

</div>

  <div class= "row ">
          <div class="col-sm-1 btn">
          </div>
            <div class="col-sm-1 btn">
                <label>Apellido materno</label>
            </div>
            <div class="col-sm-2 btn">
                {{form_p.segundoApellido}}

            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">
                {{form_p.segundoApellido.errors}}
            </div>



  </div>




  <div class= "row ">
          <div class="col-sm-1 btn">
          </div>
            <div class="col-sm-1 btn">
                <label>Cuenta corriente</label>
            </div>
            <div class="col-sm-2 btn">
                {{form_p.cuentaCorriente}}

            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">
                {{form_p.cuentaCorriente.errors}}
            </div>


  </div>

<!-- Hospitalización -->
</br>
<hr>
</br>
  <div class= "row ">
          <div class="col-sm-5 btn" >
            <h3 style="background-color:lightblue">Hospitalización</h3>
          </div>
            <div class="col-sm-1 btn">

            </div>
            <div class="col-sm-2 btn">


            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">

            </div>



  </div>


  <div class= "row ">
          <div class="col-sm-1 btn" >

          </div>
            <div class="col-sm-1 btn">
                <label>Ubicación</label>
            </div>
            <div class="col-sm-2 btn">
                {{form_c.ubicacion}}

            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">
                {{form_c.ubicacion.errors}}
            </div>



  </div>


  <div class= "row ">
          <div class="col-sm-1 btn">

          </div>
            <div class="col-sm-1 btn">
                <label>Cama</label>
            </div>
            <div class="col-sm-2 btn">
                {{form_c.cama}}

            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">
                {{form_c.cama.errors}}
            </div>



  </div>

</br>
<hr>
</br>

  <div class= "row ">
          <div class="col-sm-5 btn" >
          <h3 style="background-color:lightblue">Antecedentes e Historia</h3>
          </div>
            <div class="col-sm-1 btn">

            </div>
            <div class="col-sm-2 btn">


            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">

            </div>



  </div>

  <div class= "row ">
          <div class="col-sm-1 btn" >

          </div>
            <div class="col-sm-1 btn">
                <label>Detalle</label>
            </div>
            <div class="col-sm-2 btn">
                {{form_c.antecedentesHistoria}}

            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">
                {{form_c.antecedentesHistoria.errors}}
            </div>



  </div>

</br>
<hr>
</br>

  <div class= "row ">
          <div class="col-sm-5 btn" >
          <h3 style="background-color:lightblue" >Examen físico</h3>
          </div>
            <div class="col-sm-1 btn">

            </div>
            <div class="col-sm-2 btn">


            </div>

            <div class="col-sm-1 " >

            </div>

            <div class="col-sm-2 btn">

            </div>


  </div>


    <div class= "row ">
            <div class="col-sm-1 btn" >

            </div>
              <div class="col-sm-1 btn">
                  <label>Detalle</label>
              </div>
              <div class="col-sm-2 btn">
                  {{form_c.examenFisico}}

              </div>

              <div class="col-sm-1 " >

              </div>

              <div class="col-sm-2 btn">
                  {{form_c.examenFisico.errors}}
              </div>


    </div>

</br>
<hr>
</br>

  <div class= "row ">
          <div class="col-sm-5 btn">
          <h2 style="background-color:lightblue" >Laboratorío e imágenes</h2>
          </div>
            <div class="col-sm-1 btn">

            </div>
            <div class="col-sm-2 btn">


            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">

            </div>



  </div>

  <div class= "row ">
          <div class="col-sm-1 btn">

          </div>
            <div class="col-sm-1 btn">
                <label>Detalle</label>
            </div>
            <div class="col-sm-2 btn">
                {{form_c.labImagenes}}

            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">
                {{form_c.labImagenes.errors}}
            </div>



  </div>

</br>
<hr>
</br>

  <div class= "row ">
          <div class="col-sm-5 btn">
          <h2 style="background-color:lightblue" >Diagnóstico</h2>
          </div>
            <div class="col-sm-1 btn">

            </div>
            <div class="col-sm-2 btn">


            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">

            </div>



  </div>


  <div class= "row ">
          <div class="col-sm-1 btn">

          </div>
            <div class="col-sm-1 btn">
                <label>Detalle</label>
            </div>
            <div class="col-sm-2 btn">
                {{form_c.diagnostico}}

            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">
                {{form_c.diagnostico.errors}}
            </div>



  </div>


</br>
<hr>
</br>

  <div class= "row ">
          <div class="col-sm-5 btn">
          <h2 style="background-color:lightblue" >Escalas de evaluación</h2>
          </div>
            <div class="col-sm-1 btn">

            </div>
            <div class="col-sm-2 btn">


            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">

            </div>



  </div>

  <div class= "row ">
          <div class="col-sm-1 btn">

          </div>
            <div class="col-sm-1 btn">
                <label>Rankin scale</label>
            </div>
            <div class="col-sm-2 btn">
                {{form_c.rankinScale}}

            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">
                {{form_c.rankinScale.errors}}
            </div>



  </div>

  <div class= "row ">
          <div class="col-sm-1 btn">

          </div>
          <div class="col-sm-1 btn">
              <label>Glasgow scale</label>
          </div>
            <div class="col-sm-2 btn">
                {{form_c.glasgowScale}}

            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">
                {{form_c.glasgowScale.errors}}
            </div>


  </div>


  <div class= "row ">
          <div class="col-sm-1 btn">

          </div>
          <div class="col-sm-1 btn">
              <label>NIHSS scale</label>
          </div>
            <div class="col-sm-2 btn">
                {{form_c.nihssScale }}

            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">
                {{form_c.nihssScale.errors}}
            </div>

  </div>

  <div style="display: none; ">
  {{form.turno}}

  {{form.fechaInicio}}
  {{form_c.fecha}}
  {{form_c.primer}}
{{form_c.estado}}
{{form.estado}}
   </div>


  <div class="row">
    <div class="col-9"></div>
    <div class="col-3"><input class="btn btn-primary" type="submit" value="Submit" /></div>

   </div>


   </form>



  {% endblock %}
