{% extends "base_turno.html" %}
{% block title %}Resumen de turno{% endblock %}
{% block content %}

<form action="/administracion_turnos/crear_resumen/" method="POST">{% csrf_token %}

  <hr>
  <div class= "row ">
  <div class="col-sm-1 btn">
  </div>
  <h1>Crear resumen de turno</h1>
  </div>
  <hr>
{{form.errors}}

<div class= "row ">
        <div class="col-sm-5 btn" >
          <h3 style="background-color:lightblue">Número de</h3>
        </div>
          <div class="col-sm-1 btn">

          </div>
          <div class="col-sm-2 btn">


          </div>

          <div class="col-sm-2 " >

          </div>

          <div class="col-sm-2 btn">

          </div>



</div>


<div class= "row ">
        <div class="col-sm-1 btn" >

        </div>
          <div class="col-sm-1 btn">
              <label>Ingresos a sala</label>
          </div>
          <div class="col-sm-2 btn">
              {{form.ingresosSala }}

          </div>

          <div class="col-sm-2 " >

          </div>

          <div class="col-sm-2 btn">
              {{form.ingresosSala.errors}}
          </div>



</div>

<div class= "row ">
        <div class="col-sm-1 btn" >

        </div>
          <div class="col-sm-1 btn">
              <label>Claves Stroke</label>
          </div>
          <div class="col-sm-2 btn">
              {{form.clavesStroke }}

          </div>

          <div class="col-sm-2 " >

          </div>

          <div class="col-sm-2 btn">
              {{form.clavesStroke.errors}}
          </div>



</div>

<div class= "row ">
        <div class="col-sm-1 btn" >

        </div>
          <div class="col-sm-1 btn">
              <label>Trombolisis</label>
          </div>
          <div class="col-sm-2 btn">
              {{form.trombolisis }}

          </div>

          <div class="col-sm-2 " >

          </div>

          <div class="col-sm-2 btn">
              {{form.trombolisis.errors}}
          </div>



</div>

<div class= "row ">
        <div class="col-sm-1 btn" >

        </div>
          <div class="col-sm-1 btn">
              <label>Trombectomias</label>
          </div>
          <div class="col-sm-2 btn">
              {{form.trombectomias }}

          </div>

          <div class="col-sm-2 " >

          </div>

          <div class="col-sm-2 btn">
              {{form.trombectomias.errors}}
          </div>



</div>

<div class= "row ">
        <div class="col-sm-1 btn" >

        </div>
          <div class="col-sm-1 btn">
              <label>Interconsultas UEA</label>
          </div>
          <div class="col-sm-2 btn">
              {{form.interconsultasUEA }}

          </div>

          <div class="col-sm-2 " >

          </div>

          <div class="col-sm-2 btn">
              {{form.interconsultasUEA.errors}}
          </div>



</div>

<div class= "row ">
        <div class="col-sm-1 btn" >

        </div>
          <div class="col-sm-1 btn">
              <label>Interconsultas otros servicios</label>
          </div>
          <div class="col-sm-2 btn">
              {{form.interconsultasOtroServicios }}

          </div>

          <div class="col-sm-2 " >

          </div>

          <div class="col-sm-2 btn">
              {{form.interconsultasOtroServicios.errors}}
          </div>



</div>

<div class= "row ">
        <div class="col-sm-1 btn" >

        </div>
          <div class="col-sm-1 btn">
              <label>Controles</label>
          </div>
          <div class="col-sm-2 btn">
              {{form.controles }}

          </div>

          <div class="col-sm-2 " >

          </div>

          <div class="col-sm-2 btn">
              {{form.controles.errors}}
          </div>


</div>

<div class= "row ">
        <div class="col-sm-1 btn" >

        </div>
          <div class="col-sm-1 btn">
              <label>Controles MCM</label>
          </div>
          <div class="col-sm-2 btn">
              {{form.controlesMCM }}

          </div>

          <div class="col-sm-2 " >

          </div>

          <div class="col-sm-2 btn">
              {{form.controlesMCM.errors}}
          </div>


</div>

<div class= "row ">
        <div class="col-sm-1 btn" >

        </div>
          <div class="col-sm-1 btn">
              <label>Altas sala</label>
          </div>
          <div class="col-sm-2 btn">
              {{form.altasSala }}

          </div>

          <div class="col-sm-2 " >

          </div>

          <div class="col-sm-2 btn">
              {{form.altasSala.errors}}
          </div>


</div>
</br>
<hr>
</br>

<div class= "row ">
        <div class="col-sm-5 btn" >
          <h3 style="background-color:lightblue">Observaciones</h3>
        </div>
          <div class="col-sm-1 btn">

          </div>
          <div class="col-sm-2 btn">


          </div>

          <div class="col-sm-2 " >

          </div>

          <div class="col-sm-2 btn">

          </div>



</div>


<div class= "row ">
        <div class="col-sm-1 btn" >

        </div>
          <div class="col-sm-1 btn">
              <label>Detalle</label>
          </div>
          <div class="col-sm-2 btn">
              {{form.observacion }}

          </div>

          <div class="col-sm-2 " >

          </div>

          <div class="col-sm-2 btn">
              {{form.observacion.errors}}
          </div>



</div>

<div style="display: none; ">








{{form.turno}}
 </div>






<div class="row">
  <div class="col-9"></div>
  <div class="col-3"><input class="btn btn-primary" type="submit" value="Submit" /></div>


 </div>


</form>

 {% endblock %}
