
{% extends "base_turno.html" %}
{% block title %}Nueva turno{% endblock %}
{% block content %}

<form action="/administracion_turnos/crear_turno/" method="POST">{% csrf_token %}

  <hr>
  <div class= "row ">
  <div class="col-sm-1 btn">
  </div>
  <h1>Crear turno</h1>
  {{form.errors}}
  </div>
  <hr>

  <div class= "row ">
          <div class="col-sm-1 btn">
          </div>
            <div class="col-sm-1 btn">
                <label>Médicos</label>
            </div>
            <div class="col-sm-2 btn">
                {{form.medico}}

            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">
                {{form.medico.errors}}
            </div>



</div>

<div class= "row ">
        <div class="col-sm-1 btn">
        </div>
          <div class="col-sm-1 btn">
              <label>Inicio</label>
          </div>
          <div class="col-sm-2 btn">
              {{form.fechaInicio}}

          </div>

          <div class="col-sm-2 " >

          </div>

          <div class="col-sm-2 btn">
              {{form.fechaInicio.errors}}
          </div>



</div>

<div class= "row ">
        <div class="col-sm-1 btn">
        </div>
          <div class="col-sm-1 btn">
              <label>Termino</label>
          </div>
          <div class="col-sm-2 btn">
              {{form.fechaTermino}}

          </div>

          <div class="col-sm-2 " style="display: none;" >

            {{form.estado}}
            {{form.unidad}}
            {{form.medico}}

          </div>

          <div class="col-sm-2 btn">
              {{form.fechaTermino.errors}}
          </div>



</div>


<div class="row">
  <div class="col-9"></div>
  <div class="col-3"><input class="btn btn-primary" type="submit" value="Submit" /></div>


 </div>



</form>

 {% endblock %}
