{% extends "base_turno.html" %}
{% block title %}Nueva control{% endblock %}
{% block content %}

<form action="/administracion_turnos/crear_control/" method="POST">{% csrf_token %}

  <hr>
  <div class= "row ">
  <div class="col-sm-1 btn">
  </div>
  <h1>Crear control</h1>
  </div>
  <hr>
{{form.errors}}

<div class= "row ">
        <div class="col-sm-5 btn" >
          <h3 style="background-color:lightblue">Control</h3>
        </div>
          <div class="col-sm-1 btn">

          </div>
          <div class="col-sm-2 btn">


          </div>

          <div class="col-sm-2 " >

          </div>

          <div class="col-sm-2 btn">

          </div>



</div>


<div class= "row ">
        <div class="col-sm-1 btn" >

        </div>
          <div class="col-sm-1 btn">
              <label>Ubicación</label>
          </div>
          <div class="col-sm-2 btn">
              {{form.ubicacion}}

          </div>

          <div class="col-sm-2 " >

          </div>

          <div class="col-sm-2 btn">
              {{form.ubicacion.errors}}
          </div>



</div>


<div class= "row ">
        <div class="col-sm-1 btn">

        </div>
          <div class="col-sm-1 btn">
              <label>Cama</label>
          </div>
          <div class="col-sm-2 btn">
              {{form.cama}}

          </div>

          <div class="col-sm-2 " >

          </div>

          <div class="col-sm-2 btn">
              {{form.cama.errors}}
          </div>



</div>

</br>
<hr>
</br>

<div class= "row ">
        <div class="col-sm-5 btn" >
        <h3 style="background-color:lightblue">Antecedentes e Historia</h3>
        </div>
          <div class="col-sm-1 btn">

          </div>
          <div class="col-sm-2 btn">


          </div>

          <div class="col-sm-2 " >

          </div>

          <div class="col-sm-2 btn">

          </div>



</div>

<div class= "row ">
        <div class="col-sm-1 btn" >

        </div>
          <div class="col-sm-1 btn">
              <label>Detalle</label>
          </div>
          <div class="col-sm-2 btn">
              {{form.antecedentesHistoria}}

          </div>

          <div class="col-sm-2 " >

          </div>

          <div class="col-sm-2 btn">
              {{form.antecedentesHistoria.errors}}
          </div>



</div>

</br>
<hr>
</br>

<div class= "row ">
        <div class="col-sm-5 btn" >
        <h3 style="background-color:lightblue" >Examen físico</h3>
        </div>
          <div class="col-sm-1 btn">

          </div>
          <div class="col-sm-2 btn">


          </div>

          <div class="col-sm-1 " >

          </div>

          <div class="col-sm-2 btn">

          </div>


</div>


  <div class= "row ">
          <div class="col-sm-1 btn" >

          </div>
            <div class="col-sm-1 btn">
                <label>Detalle</label>
            </div>
            <div class="col-sm-2 btn">
                {{form.examenFisico}}

            </div>

            <div class="col-sm-1 " >

            </div>

            <div class="col-sm-2 btn">
                {{form.examenFisico.errors}}
            </div>


  </div>

</br>
<hr>
</br>

<div class= "row ">
        <div class="col-sm-5 btn">
        <h2 style="background-color:lightblue" >Laboratorío e imagenes</h2>
        </div>
          <div class="col-sm-1 btn">

          </div>
          <div class="col-sm-2 btn">


          </div>

          <div class="col-sm-2 " >

          </div>

          <div class="col-sm-2 btn">

          </div>



</div>

<div class= "row ">
        <div class="col-sm-1 btn">

        </div>
          <div class="col-sm-1 btn">
              <label>Detalle</label>
          </div>
          <div class="col-sm-2 btn">
              {{form.labImagenes}}

          </div>

          <div class="col-sm-2 " >

          </div>

          <div class="col-sm-2 btn">
              {{form.labImagenes.errors}}
          </div>



</div>
</br>
<hr>
</br>

<div class= "row ">
        <div class="col-sm-5 btn" >
        <h3 style="background-color:lightblue" >Planes y pendientes</h3>
        </div>
          <div class="col-sm-1 btn">

          </div>
          <div class="col-sm-2 btn">


          </div>

          <div class="col-sm-1 " >

          </div>

          <div class="col-sm-2 btn">

          </div>


</div>


  <div class= "row ">
          <div class="col-sm-1 btn" >

          </div>
            <div class="col-sm-1 btn">
                <label>Detalle</label>
            </div>
            <div class="col-sm-2 btn">
                {{form.planesPendiente}}

            </div>

            <div class="col-sm-1 " >

            </div>

            <div class="col-sm-2 btn">
                {{form.planesPendiente.errors}}
            </div>


  </div>

</br>
<hr>
</br>

<div class= "row ">
        <div class="col-sm-5 btn">
        <h2 style="background-color:lightblue" >Diagnóstico</h2>
        </div>
          <div class="col-sm-1 btn">

          </div>
          <div class="col-sm-2 btn">


          </div>

          <div class="col-sm-2 " >

          </div>

          <div class="col-sm-2 btn">

          </div>



</div>


<div class= "row ">
        <div class="col-sm-1 btn">

        </div>
          <div class="col-sm-1 btn">
              <label>Detalle</label>
          </div>
          <div class="col-sm-2 btn">
              {{form.diagnostico}}

          </div>

          <div class="col-sm-2 " >

          </div>

          <div class="col-sm-2 btn">
              {{form.diagnostico.errors}}
          </div>



</div>


</br>
<hr>
</br>

<div class= "row ">
        <div class="col-sm-5 btn">
        <h2 style="background-color:lightblue" >Escalas de evaluación</h2>
        </div>
          <div class="col-sm-1 btn">

          </div>
          <div class="col-sm-2 btn">


          </div>

          <div class="col-sm-2 " >

          </div>

          <div class="col-sm-2 btn">

          </div>



</div>

<div class= "row ">
        <div class="col-sm-1 btn">

        </div>
          <div class="col-sm-1 btn">
              <label>Ranking scale</label>
          </div>
          <div class="col-sm-2 btn">
              {{form.rankinScale}}

          </div>

          <div class="col-sm-2 " >

          </div>

          <div class="col-sm-2 btn">
              {{form.rankinScale.errors}}
          </div>



</div>

<div class= "row ">
        <div class="col-sm-1 btn">

        </div>
        <div class="col-sm-1 btn">
            <label>Glasgow scale</label>
        </div>
          <div class="col-sm-2 btn">
              {{form.glasgowScale}}

          </div>

          <div class="col-sm-2 " >

          </div>

          <div class="col-sm-2 btn">
              {{form.glasgowScale.errors}}
          </div>


</div>


<div class= "row ">
        <div class="col-sm-1 btn">

        </div>
        <div class="col-sm-1 btn">
            <label>NIHSS scale</label>
        </div>
          <div class="col-sm-2 btn">
              {{form.nihssScale }}

          </div>

          <div class="col-sm-2 " >

          </div>

          <div class="col-sm-2 btn">
              {{form.nihssScale.errors}}
          </div>



</div>




<div style="display: none; ">





{{form.fecha}}
{{form.primer}}
{{form.estado}}


{{form.hospitalizacion}}
 </div>






<div class="row">
  <div class="col-9"></div>
  <div class="col-3"><input class="btn btn-primary" type="submit" value="Submit" /></div>


 </div>


</form>

 {% endblock %}
