{% extends "base_popup.html" %}
{% block title %}Nuevo plan y oendiente{% endblock %}
{% block content %}

<form action="." method="POST">{% csrf_token %}

  <hr>
  <div class= "row ">
  <div class="col-sm-1 btn">
  </div>
  <i class="fas fa-user fa-3x"></i> &nbsp;&nbsp;&nbsp;&nbsp; <h1>{{Control.hospitalizacion.paciente.nombres}} {{Control.hospitalizacion.paciente.primerApellido}}</h1>
  </div>
  <hr>
{{form.errors}}

<div class= "row ">
        <div class="col-sm-5 btn" >
          <h3 style="background-color:lightblue">Plan y pendiente</h3>
        </div>
          <div class="col-sm-1 btn">

          </div>
          <div class="col-sm-2 btn">


          </div>

          <div class="col-sm-2 " >

          </div>

          <div class="col-sm-2 btn">

          </div>



</div>





  <div class= "row ">
          <div class="col-sm-1 btn" >

          </div>
            <div class="col-sm-1 btn">
                <label>Detalle</label>
            </div>
            <div class="col-sm-2 btn">
                {{form.planesPendiente}}

            </div>

            <div class="col-sm-1 " >

            </div>

            <div class="col-sm-2 btn">
                {{form.planesPendiente.errors}}
            </div>


  </div>

<div style="display: none; ">
    {{form.antecedentesHistoria}}
        {{form.examenFisico}}
  {{form.labImagenes}}
  {{form.rankinScale}}
  {{form.glasgowScale}}
  {{form.diagnostico}}
{{form.ubicacion}}
{{form.fecha}}
{{form.primer}}
{{form.estado}}
{{form.nihssScale }}
{{form.cama}}

{{form.hospitalizacion}}
 </div>



<br>
<br>


<div class="row">
  <div class="col-9"></div>
  <div class="col-3"><input class="btn btn-primary" type="submit" value="Submit" /></div>


 </div>


</form>

 {% endblock %}
