{% extends "base_popup.html" %}
{% block title %}Detalle control{% endblock %}
{% load staticfiles %}

{% block content %}
<hr>
<div class= "row ">
<div class="col-sm-1 btn">
</div>
<h1>Detalle control</h1>

</div>
<hr>

<div class="container-fluid">

	<div class="container-fluid">




    <nav>
      <div class="nav nav-pills" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="hospitalizacion-tab" data-toggle="tab" href="#hospitalizacion" role="tab" aria-controls="nav-home" aria-selected="true">Hospitalizacion</a>

				<a class="nav-item nav-link" id="antecedentes-historia-tab" data-toggle="tab" href="#antecedentes-historia" role="tab" aria-controls="nav-profile" aria-selected="false">Antecedentes e historia</a>

				<a class="nav-item nav-link" id="examen-fisico-tab" data-toggle="tab" href="#examen-fisico" role="tab" aria-controls="nav-contact" aria-selected="false">Examen físico</a>

				<a class="nav-item nav-link" id="laboratorio-imagenes-tab" data-toggle="tab" href="#laboratorio-imagenes" role="tab" aria-controls="nav-contact" aria-selected="false">Laboratorio e imágenes</a>

				<a class="nav-item nav-link" id="planes-pendiente-tab" data-toggle="tab" href="#planes-pendiente" role="tab" aria-controls="nav-contact" aria-selected="false">Planes y pendientes</a>

				<a class="nav-item nav-link" id="diagnostico-tab" data-toggle="tab" href="#diagnostico" role="tab" aria-controls="nav-contact" aria-selected="false">Diagnóstico</a>

				<a class="nav-item nav-link" id="escala-tab" data-toggle="tab" href="#escala" role="tab" aria-controls="nav-contact" aria-selected="false">Escalas</a>

      </div>
    </nav>
	</div>

<div class="tab-content container-fluid">


			     <hr/>


				       <h4><i class="fa fa-user fa-lg" aria-hidden="true"></i>   &nbsp;&nbsp;  {{Control.hospitalizacion.evento.paciente.nombres}} {{Control.hospitalizacion.evento.paciente.primerApellido}} {{Control.hospitalizacion.evento.paciente.segundoApellido}}  &nbsp;&nbsp;  &nbsp;&nbsp; <i class="far fa-calendar-alt fa-lg"></i>  &nbsp;&nbsp;  {{Control.fecha}}</h4>
  			            <hr/>



  <div class="tab-content" id="nav-tabContent">


    <div class="tab-pane fade show active" id="hospitalizacion" role="tabpanel" aria-labelledby="hospitalizacion-tab">

			<div class="row container-fluid">
							{% if Control.ubicacion == None or Control.ubicacion == '' %}
								<label  style = "color:red;" >Ubicación: </label> &nbsp;&nbsp;No se ha ingresado detalle
							{% else %}
								<label>Ubicación: </label> &nbsp;&nbsp;{{Control.ubicacion}}
							{% endif %}
						</div>


			      <div class="row container-fluid">
			        {% if Control.cama == None or Control.cama == '' %}
			          <label  style = "color:red;" >Cama: </label> &nbsp;&nbsp; No se ha ingresado detalle
			        {% else %}
			          <label>Cama: </label> &nbsp;&nbsp; {{Control.cama}}
			        {% endif %}
			      </div>

		</div>

    <div class="tab-pane fade" id="antecedentes-historia" role="tabpanel" aria-labelledby="antecedentes-historia-tab">

			<div class="row container-fluid">
				{% if Control.antecedentesHistoria == None or Control.antecedentesHistoria == '' %}
					<label  style = "color:red;" >Antecedentes e historia: </label> &nbsp;&nbsp;No se ha ingresado detalle
				{% else %}
					<label>Antecedentes e historia: </label> &nbsp;&nbsp; {{Control.antecedentesHistoria}}
				{% endif %}
			</div>

		</div>


    <div class="tab-pane fade" id="examen-fisico" role="tabpanel" aria-labelledby="examen-fisico-tab">

			<div class="row container-fluid">
							{% if Control.examenFisico == None or Control.examenFisico == '' %}
								<label  style = "color:red;" >Examen físico: </label> &nbsp;&nbsp;No se ha ingresado detalle
							{% else %}
								<label>Examen físico: </label>&nbsp;&nbsp; {{Control.examenFisico}}
							{% endif %}
						</div>

		</div>


		<div class="tab-pane fade" id="laboratorio-imagenes" role="tabpanel" aria-labelledby="laboratorio-imagenes-tab">

			<div class="row container-fluid">
					{% if Control.labImagenes == None or Control.labImagenes == '' %}
						<label  style = "color:red;" >Laboratorio imágenes: </label> &nbsp;&nbsp;No se ha ingresado detalle
					{% else %}
						<label>Laboratorio imágenes: </label> &nbsp;&nbsp;{{Control.labImagenes}}
					{% endif %}
		</div>

		</div>


		<div class="tab-pane fade" id="planes-pendiente" role="tabpanel" aria-labelledby="planes-pendiente-tab">

			<div class="row container-fluid">
					{% if Control.planesPendiente == None or Control.planesPendiente == '' %}
						<label  style = "color:red;" >Planes y pendientes: </label> &nbsp;&nbsp;No se ha ingresado detalle
					{% else %}
						<label>Planes y pendientes: </label> &nbsp;&nbsp;{{Control.planesPendiente}}
					{% endif %}
			</div>

		</div>


		<div class="tab-pane fade" id="diagnostico" role="tabpanel" aria-labelledby="diagnostico-tab">

			<div class="row container-fluid">
					{% if Control.diagnostico == None or Control.diagnostico == '' %}
						<label  style = "color:red;" >Diagnósticos: </label> &nbsp;&nbsp;No se ha ingresado detalle
					{% else %}
						<label>Diagnóstico: </label> &nbsp;&nbsp;{{Control.diagnostico}}
					{% endif %}
		</div>


		</div>



		<div class="tab-pane fade" id="escala" role="tabpanel" aria-labelledby="escala-tab">


			<div class="row container-fluid">
			    {% if Control.rankinScale == None or Control.rankinScale == '' %}
			      <label  style = "color:red;" >Rankin scale: </label> &nbsp;&nbsp;No se ha ingresado detalle
			    {% else %}
			      <label>Rankin scale: </label> &nbsp;&nbsp;{{Control.rankinScale}}
			    {% endif %}
			  </div>


			  <div class="row container-fluid">
			    {% if Control.glasgowScale == None or Control.glasgowScale == '' %}
			      <label  style = "color:red;" >Glasgowg scale: </label> &nbsp;&nbsp;No se ha ingresado detalle
			    {% else %}
			      <label>Glasgow scale: </label> &nbsp;&nbsp;{{Control.glasgowScale}}
			    {% endif %}
			  </div>

				<div class="row container-fluid">
					{% if Control.nihssScale == None or Control.nihssScale == '' %}
						<label  style = "color:red;" >NIHSS scale: </label> &nbsp;&nbsp;No se ha ingresado detalle
					{% else %}
						<label>NIHSS scale: </label> &nbsp;&nbsp;{{Control.nihssScale}}
					{% endif %}
				</div>

		</div>


</div>

</div>


</div>


<script>
$('#myTab a').on('click', function (e) {
  e.preventDefault()
  $(this).tab('show')
})

</script>


{% endblock %}
