{% extends "base_turno.html" %}
{% load mathfilters %}





{% block title %}Home Turno{% endblock %}
{% block content %}
<hr>
<div class= "row ">
<div class="col-sm-1 btn">
</div>
<h1>Home turno</h1>
</div>
<hr>
<br>
{% if Turno %}


<div class="container-fluid">
<div class="row">

    <div class="col-1">
   <a href="{% url "crear_hospitalizacion"  %} " title= "Hospitalizar paciente"> <i class="fa fa-user-plus fa-5x" aria-hidden="true"></i></a>
</div>
  <div class="col-5">



  </div>
  <div class="col-1">
 <a href="{% url "home_turno"  %} " title= "Refrescar"> <i class="fa fa-undo-alt fa-5x" aria-hidden="true"></i></a>
</div>
<div class="col-4">
  <h2> Fecha de inicio del turno: {{Turno.0.fechaInicio}} </h2>    <h2> Fecha de hoy: {{hoy}} </h2>
</div>
</div>
</div>





<br>
<br>
<div class="container-fluid">

<table id="table_id" class="display">
    <thead>
        <tr>

          <th style="text-align: center">Fecha</th>
            <th style="text-align: center">Paciente</th>
            <th style="text-align: center" >RUT</th>
            <th style="text-align: center" >Días desde 1era evaluacion</th>
            <th style="text-align: center" >Ubicación</th>
            <th style="text-align: center" >Cama</th>
            <th style="text-align: center" >Antecedentes e historia</th>
            <th style="text-align: center" >Exámen físico</th>
            <th style="text-align: center" >Lab imágenes</th>
            <th style="text-align: center" >Diagnóstico</th>
            <th style="text-align: center" >Planes y pendientes</th>
            <th style="text-align: center" >Estado</th>
            <th style="text-align: center" >Opciones</th>

        </tr>
    </thead>
    <tbody>

  {% if Hospitalizacion %}
             {% for i in Hospitalizacion %}

        <tr>

  <td style="text-align: center">{{i.fechaInicio}} </td>

            <td style="text-align: center">{{i.evento.paciente.nombres}} {{i.evento.paciente.primerApellido}} {% if i.evento.paciente.segundoApellido %} {{i.evento.paciente.segundoApellido}}  {% endif %}</td>

            <td style="text-align: center">{% if i.evento.paciente.RUT %} {{i.evento.paciente.RUT}}-{{i.evento.paciente.DV}}{% else %} <font style = "color: red"> dato faltante </font> {% endif %}</td>

            <td style="text-align: center" >
                {% if i.control_set.all.0 %}
              {% with i.control_set.all|dictsort:"fecha" as control %}
                {% if control.0.primer != hoy %}
                 {{ hoy | sub:control.0.fecha }}
                {% else %}
                Primer control realizado el día de hoy
                 {% endif %}

                {% endwith %}

                 {% endif %}
            </td>

            <td style="text-align: center">

              {% if i.control_set.all.0 %}

               {{ i.control_set.all.last.ubicacion }}

               {% endif %}

              </td>
              <td style="text-align: center">

                {% if i.control_set.all.0 %}

                 {{ i.control_set.all.last.cama }}

                 {% endif %}

                </td>
            <td style="text-align: center" >
              {% if i.control_set.all.0 %}

               {{ i.control_set.all.last.antecedentesHistoria }}

              {% endif %}

             </td>
            <td style="text-align: center" >

              {% if i.control_set.all.0 %}

               {{ i.control_set.all.last.examenFisico }}

              {% endif %}

            </td>
            <td style="text-align: center" >

              {% if i.control_set.all.0 %}

               {{ i.control_set.all.last.labImagenes }}

              {% endif %}
            </td>
            <td style="text-align: center" >
              {% if i.control_set.all.0 %}

               {{ i.control_set.all.last.diagnostico }}

              {% endif %}
            </td>
            <td style="text-align: center" >
              {% if i.control_set.all.0 %}

              {% if i.control_set.all.last.planesPendiente  %}  {{ i.control_set.all.last.planesPendiente }}{% else %} <font style = "color: red"> No posee planes y pendientes </font> {% endif %}


              {% endif %}
            </td>


              {% if i.control_set.all.0 %}

              <td style="text-align: center" >

                        {% if i.control_set.last.fecha == hoy %}
                              <font color = "green">  <i  title= "Posee control el día de hoy" class="fas fa-eye"></i></font>


                        {% else %}
                              <font color = "red"><i  title= "No posee control el día de hoy" class="fas fa-eye-slash"></i></font>
                         {% endif %}

                         {% with i.control_set.last as c%}
                             {% if c.revision_set.all.0 %}


                                       {% if c.revision_set.last.revision == 'SOS' %}

                                              <font color = "red"><i title= "SOS" class="fas fa-undo-alt"></i> SOS </fount>

                                        {% elif c.revision_set.last.revision == "hoy" %}

                                                <font color = "green"><i title= "Revisar hoy" class="fas fa-undo-alt"></i> hoy </fount>

                                        {% elif c.revision_set.last.revision == '24hrs' %}

                                              <font color = "blue"><i title= "Revisar en 24 hrs" class="fas fa-undo-alt"></i> 24 hrs</fount>

                                        {% elif c.revision_set.last.revision == '48hrs' %}

                                               <font color = "grey"><i title= "Revisar en 48 hrs" class="fas fa-undo-alt"></i> 48 hrs</fount>



                                        {% endif %}




                                        {% if c.revision_set.last.fecha.date  < ahora.date %}

                                        <font color = "red"><i class="fas fa-exclamation-circle"></i> Caducado </font>

                                        {% else  %}

                                            {% if c.revision_set.last.fecha.time  < ahora.time %}
                                                  <font color = "red"><i class="fas fa-exclamation-circle"></i> Caducado </font>

                                            {% endif %}






                                        {% endif %}










                             {% else %}

                               <font color = "black"><i title= "No posee estado de revisión" class="far fa-clock"></i></fount>

                             {% endif %}

                        {% endwith %}








            </td>



                       <td style="text-align: center" >
                         <a href="{% url "listar_control" i.id  %} " title= "Lista de controles">   <i class="fas fa-clipboard-list"></i> </a>
                         / <a href="{% url "crear_control" i.id  %} " title= "Crear control"> <i class="far fa-plus-square"> </i> </a>


                         {% with i.control_set.last as c %}

                         / <a title="Revisar control" href="" onclick="return popitupR('{% url "crear_revision" c.id %}')"><i class="far fa-clock"></i></a>
                         {% endwith %}



                       </td>

            {% endif %}




        </tr>

        {% endfor %}


       {% endif %}


    </tbody>
    <tfoot>
        <tr>
          <th style="text-align: center" >Fecha</th>
          <th style="text-align: center" >Paciente</th>
          <th style="text-align: center" >RUT</th>
          <th style="text-align: center" >Días desde 1era evaluacion</th>
          <th style="text-align: center" >Ubicación</th>
          <th style="text-align: center" >Cama</th>
          <th style="text-align: center" >Antecedentes e historia</th>
          <th style="text-align: center" >Exámen físico</th>
          <th style="text-align: center" >Lab imágenes</th>
          <th style="text-align: center" >Diagnóstico</th>
          <th style="text-align: center" >Planes y pendientes</th>
          <th style="text-align: center" >Estado</th>
          <th style="text-align: center" >Opciones</th>
        </tr>
    </tfoot>

</table>


</div>

{% else %}

<div class="container-fluid">
<div class="col-12">
<div class="row"> <h1>Lo sentimos, no se encuentra registro de turno activo, por favor cree un nuevo turno </h1></div>
</div>
</div>

{% endif %}








<!-- Button trigger modal -->
<!--  Launch demo modal
</button>-->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>











 <script type="text/javascript">



  $(document).ready( function () {
    $('#table_id').DataTable(

      {
                  "language":{
                      "lengthMenu":"Mostrar _MENU_ registros por página.",
                      "zeroRecords": "Lo sentimos, no se han registrado hospitalizaciones dentro del turno.",
                      "info": "Mostrando página _PAGE_ de _PAGES_",
                      "infoEmpty": "No se ha encontrado coincidencia.",
                      "infoFiltered": "(filtrados de un total de _MAX_ registros)",
                      "search" : "Buscar",
                      "LoadingRecords": "Cargando ...",
                      "Processing": "Procesando...",
                      "SearchPlaceholder": "Comience a teclear...",
                      "paginate": {
                          "previous": "Anterior",
                          "next": "Siguiente",
                           }

                }

               }


    );
} );



$('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('New message to ' + recipient)
  modal.find('.modal-body input').val(recipient)
})
</script>

{% endblock %}
