{% extends "base_turno.html" %}

{% load staticfiles %}


{% block title %}Lista de controles{% endblock %}

{% block content %}


<div class="container-fluid">

<br>
<br>
<hr/>
  <h1>Lista de controles del paciente: {{Hospitalizacion.evento.paciente.nombres}} {{Hospitalizacion.evento.paciente.primerApellido}} </h1>
  <hr/>
<br>
<br>
<table id="table_id" class="display">
        <thead>
            <tr >
                <th style="text-align: center">Fecha</th>
                <th style="text-align: center">Ubicación</th>
                <th style="text-align: center">Diagnóstico</th>
                <th style="text-align: center">Planes y pendientes</th>
                <th style="text-align: center">Opciones</th>
            </tr>
        </thead>
         <tfoot>
            <tr >
              <th style="text-align: center">Fecha</th>
              <th style="text-align: center">Ubicación</th>
              <th style="text-align: center">Diagnóstico</th>
              <th style="text-align: center">Planes y pendientes</th>
              <th style="text-align: center">Opciones</th>
            </tr>
        </tfoot>
        <tbody>
         {% for i in Control|dictsort:"fecha" %}







            <tr  >


                <td style="text-align: center">{{i.fecha}}</td>

                <td style="text-align: center">{{i.ubicacion}}</td>

                <td style="text-align: center">{{i.diagnostico}}</td>

                <td style="text-align: center">{% if i.planesPendiente  %}  {{ i.planesPendiente }}{% else %} <font style = "color: red"> No posee planes y pendientes </font> {% endif %}
 </td>

                <td style="text-align: center">

                  <a title="Ver control" href="" onclick="return popitup('{% url "detalle_control" i.id %}')"><i class="fa fa-eye" aria-hidden="true"></i></a>


                        / <a href="{% url "editar_control" i.id %}" title= "Editar control"> <i class="fas fa-pencil-alt" aria-hidden="true"></i></a>


                </td>


            </tr>



          {% endfor %}
        </tbody>
    </table>




     <script type="text/javascript">



     $(document).ready( function () {
       $('#table_id').DataTable(

         {
                     "language":{
                         "lengthMenu":"Mostrar _MENU_ registros por página.",
                         "zeroRecords": "Lo sentimos, no se han registrado hospitalizaciones dentro del turno.",
                         "info": "Mostrando página _PAGE_ de _PAGES_",
                         "infoEmpty": "No se ha encontrado coincidencia.",
                         "infoFiltered": "(filtrados de un total de _MAX_ registros)",
                         "search" : "Buscar",
                         "LoadingRecords": "Cargando ...",
                         "Processing": "Procesando...",
                         "SearchPlaceholder": "Comience a teclear...",
                         "paginate": {
                             "previous": "Anterior",
                             "next": "Siguiente",
                              }

                   }

                  }


       );
   } );
    </script>

     {% endblock %}
