{% extends "base_turno.html" %}
{% load mathfilters %}





{% block title %}Revision de planes y pendientes{% endblock %}
{% block content %}
<hr>
<div class= "row ">
<div class="col-sm-1 btn">
</div>
<h1>Revisión planes y pendientes</h1>
</div>
<hr>
<br>

{% if Turno %}


<div class="container-fluid">
<div class="row">



    {% if ok == 'no'%}
    <div class="col-5">
<font style= "color: red ; text-align: center; background-color: grey"><h5>No se permitirá cerrar turno hasta que todos los pacientes cuenten con un detalle de  Planes y Pendientes </h5></font>
  </div>
{% else %}

<div class="col-1">
  </div>
<div class="col-4">
<a href="{% url "crear_resumen" Turno.0.id %} " title= "Refrescar"><button type="button" class="btn btn-danger">Cerrar turno</button></a>
</div>

{% endif %}


  <div class="col-1">

</div>
  <div class="col-1">
<a href="{% url "revisar_planes"  %} " title= "Refrescar"> <i class="fa fa-undo-alt fa-5x" aria-hidden="true"></i></a>
</div>
<div class="col-4">
  <h2> Fecha de inicio del turno: {{Turno.0.fechaInicio}} </h2>    <h2> Fecha de termino: {{hoy}} </h2>
</div>
</div>
</div>




<br>
<br>
<div class="container-fluid">

<table id="table_id" class="display">
    <thead>
        <tr>

            <th style="text-align: center">Fecha de hospitalización</th>
            <th style="text-align: center">Paciente</th>
            <th style="text-align: center" >RUT</th>
            <th style="text-align: center">Fecha ultimo control</th>
            <th style="text-align: center" >Planes y pendientes</th>

            <th style="text-align: center" >Opciones</th>

        </tr>
    </thead>
    <tbody>

  {% if Hospitalizacion %}
             {% for i in Hospitalizacion %}

        <tr>

          <td style="text-align: center" >{{i.fechaInicio}} </td>

            <td style="text-align: center" >{{i.evento.paciente.nombres}} {{i.evento.paciente.primerApellido}} {% if i.evento.paciente.segundoApellido %} {{i.evento.paciente.segundoApellido}}  {% endif %}</td>

            <td style="text-align: center">{% if i.evento.paciente.RUT %} {{i.evento.paciente.RUT}}-{{i.evento.paciente.DV}}{% else %} <font style = "color: red"> dato faltante </font> {% endif %}</td>


            <td style="text-align: center">

              {% if i.control_set.all.0 %}

               {{ i.control_set.all.last.fecha }}

               {% endif %}

            </td>


            <td style="text-align: center" >
              {% if i.control_set.all.0 %}

              {% if i.control_set.all.last.planesPendiente  %}  {{ i.control_set.all.last.planesPendiente }}{% else %} <font style = "color: red"> No posee planes y pendientes </font> {% endif %}

              {% endif %}
            </td>






                       <td style="text-align: center" >

                         {% with i.control_set.last as c %}




                          <a title="Crear planes" href="" onclick="return popitupP('{% url "crear_planes" c.id %}')"><i class="far fa-plus-square"> </i></a>


                         {% endwith %}



                       </td>






        </tr>

        {% endfor %}


       {% endif %}


    </tbody>
    <tfoot>
      <tr>

          <th style="text-align: center" >Fecha de hospitalización</th>
          <th style="text-align: center" >Paciente</th>
          <th style="text-align: center" >RUT</th>
          <th style="text-align: center" >Fecha ultimo control</th>
          <th style="text-align: center" >Planes y pendientes</th>

          <th style="text-align: center" >Opciones</th>

      </tr>
    </tfoot>

</table>


</div>



{% else %}

<div class="container-fluid">
<div class="col-12">
<div class="row"> <h1>Lo sentimos, no se encuentra registro de turno activo, por favor cree un nuevo turno </h1></div>
</div>
</div>

{% endif %}








<!-- Button trigger modal -->
<!--  Launch demo modal
</button>-->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>











 <script type="text/javascript">



  $(document).ready( function () {
    $('#table_id').DataTable(

      {
                  "language":{
                      "lengthMenu":"Mostrar _MENU_ registros por página.",
                      "zeroRecords": "Lo sentimos, no se han registrado hospitalizaciones dentro del turno.",
                      "info": "Mostrando página _PAGE_ de _PAGES_",
                      "infoEmpty": "No se ha encontrado coincidencia.",
                      "infoFiltered": "(filtrados de un total de _MAX_ registros)",
                      "search" : "Buscar",
                      "LoadingRecords": "Cargando ...",
                      "Processing": "Procesando...",
                      "SearchPlaceholder": "Comience a teclear...",
                      "paginate": {
                          "previous": "Anterior",
                          "next": "Siguiente",
                           }

                }

               }


    );
} );



$('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('New message to ' + recipient)
  modal.find('.modal-body input').val(recipient)
})
</script>

{% endblock %}
