{% extends "base_turno.html" %}

{% load staticfiles %}


{% block title %}Turno cerrado{% endblock %}

{% block content %}


<div class="container-fluid">


<br>
<br>
<div class = "row" >

  <div class="col-sm-1 btn">
  </div>

  <div class="col-sm-1 btn">
  </div>
  <h1>Turno cerrado con éxito, descargue el informe en el siguiente link:</h1>  &nbsp;&nbsp;&nbsp;&nbsp; <a href="{% url "informe_turno"  %} " title= "Descargar informe de turno"> <i class="far fa-file-pdf fa-3x" aria-hidden="true"></i></a>
</div>
<br>
<br>


     {% endblock %}
