{% extends "base.html" %}
{% block title %}Create cuenta{% endblock %}
{% block content %}
<form method="POST">
{% csrf_token %}



<hr>
<div class= "row ">
<div class="col-sm-1 btn">
</div>
<h1>Crear usuario</h1>
</div>
<hr>
{{form.errors}}

<div class= "row ">
      <div class="col-sm-5 btn" >
        <h3 style="background-color:lightblue">Crear nuevo médico</h3>
      </div>
        <div class="col-sm-1 btn">

        </div>
        <div class="col-sm-2 btn">


        </div>

        <div class="col-sm-2 " >

        </div>

        <div class="col-sm-2 btn">

        </div>



</div>


<div class= "row ">
      <div class="col-sm-1 btn" >

      </div>
        <div class="col-sm-1 btn">
            <label>Nombre de usuario</label>
        </div>
        <div class="col-sm-2 btn">
            {{form.username}}

        </div>

        <div class="col-sm-2 " >

        </div>

        <div class="col-sm-2 btn">
            {{form.username.errors}}
        </div>



</div>


<div class= "row ">
      <div class="col-sm-1 btn">

      </div>
        <div class="col-sm-1 btn">
            <label>Tipo de cuenta</label>
        </div>
        <div class="col-sm-2 btn">
            {{form.tipo}}

        </div>

        <div class="col-sm-2 " >

        </div>

        <div class="col-sm-2 btn">
            {{form.tipo.errors}}
        </div>



</div>



<div class= "row ">
      <div class="col-sm-1 btn" >

      </div>
        <div class="col-sm-1 btn">
            <label>Nombres</label>
        </div>
        <div class="col-sm-2 btn">
            {{form.first_name}}

        </div>

        <div class="col-sm-2 " >

        </div>

        <div class="col-sm-2 btn">
            {{form.first_name.errors}}
        </div>



</div>




<div class= "row ">
        <div class="col-sm-1 btn" >

        </div>
          <div class="col-sm-1 btn">
              <label>Apellidos</label>
          </div>
          <div class="col-sm-2 btn">
              {{form.last_name}}

          </div>

          <div class="col-sm-1 " >

          </div>

          <div class="col-sm-2 btn">
              {{form.last_name.errors}}
          </div>


</div>


<div class= "row ">
      <div class="col-sm-1 btn">

      </div>
        <div class="col-sm-1 btn">
            <label>Email</label>
        </div>
        <div class="col-sm-2 btn">
            {{form.email}}

        </div>

        <div class="col-sm-2 " >

        </div>

        <div class="col-sm-2 btn">
            {{form.email.errors}}
        </div>



</div>


<div class= "row ">
      <div class="col-sm-1 btn">

      </div>
        <div class="col-sm-1 btn">
            <label>Password</label>
        </div>
        <div class="col-sm-2 btn">
            {{form.password}}

        </div>

        <div class="col-sm-2 " >

        </div>

        <div class="col-sm-2 btn">
            {{form.password.errors}}
        </div>


</div>



<div class= "row ">
        <div class="col-sm-1 btn" >

        </div>
          <div class="col-sm-1 btn">
              <label>Confrmar password</label>
          </div>
          <div class="col-sm-2 btn">
              {{form.confirm_password}}

          </div>

          <div class="col-sm-1 " >

          </div>

          <div class="col-sm-2 btn">
              {{form.confirm_password.errors}}
          </div>


</div>




















<div style="display: none; ">






</div>





<div class="row">
  <div class="col-9"></div>
  <div class="col-3"><input class="btn btn-primary" type="submit" value="Submit" /></div>


 </div>



{% endblock %}

</form>
