
{% load staticfiles %}

<html>
<head>

  <!-- CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
 <!-- JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>
<script type="text/javascript" charset="utf8" src="{% static "js/pestana.js" %}"></script>
  <script type="text/javascript" charset="utf8" src="{% static "js/popup.js" %}"></script>
</head>

{% if perms.administracion_usuarios.Ver_turno %}

<body>

<!-- Se utiliza un Menu Bootstrap http://getbootstrap.com/components/#navbar -->


<!-- Menu para el area de andrología -->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">NISMed</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home_turno' %}">Home turno <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Opciones turnos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'crear_turno' %}">Crear turno</a>
          <a class="dropdown-item" href="{% url 'revisar_planes' %}">Cerrar turno</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Turnos anteriores</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Opciones pacientes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'crear_paciente' %}">Crear paciente</a>
          <a class="dropdown-item" href="{% url 'paciente_incompleto_t' %}">Completar paciente</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Lista de pacientes</a>
        </div>
      </li>
      <li class="nav-item">
        <!--<a class="nav-link disabled" href="#">Disabled</a>-->
      </li>
    </ul>
  <!--  <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form> -->
  </div>
</nav>




  <!-- Bloque de contenido que se hereda a las templates, Body-->

  {% block content %}
  {% endblock %}

  {% else %}

 <br/>

 <div  class= "row verde">
   <div  class="col-md-12" style="text-align: center">
     <h2 class="blanco" ><b>Lo sentimos, usted no cuenta con los permisos pertinentes para ingresar al Módulo de Administración de Turnos. </b></h2>

   </div>
 </div>
 <br/>
 <br/>
 {% endif %}

  {% block footer %}
    <hr>
    <div class="col-md-12 btn">
      <img id="pmi" alt="Brand" src= "{% static "img/mineduc.jpg" %}" height="75" width="75" >
      <img id="pmi" alt="Brand" src= "{% static "img/pmi.png" %}"  height="115" >
      <img id="pmi" alt="Brand" src= "{% static "img/uv.png" %}"  height="65" >
    </div>
  {% endblock %}


  </body>

</html>
