{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Log in{% endblock %}
{% block navbar%}
{% endblock %}
{% block content %}
<form  method="POST">

	{% csrf_token %}

	<br/>

  	<div class= "container-fluid">

	  <br>
    <hr>
    <h1>Log in</h1>
    <hr>
     <br>

    	<div class= "row ">
			<div class="form-inline amensaje">
        <div class="col-md-2 " >

        </div>

			 	<div class="col-md-2 btn">
					<label for= "username "> User name</label>
				</div>
				<div class="col-md-2 btn">
					<input class="form-control" type = "text" name = "username">
				</div>

				<div class="col-md-2 " >

				</div>

			 	<div class="col-md-2 btn">
					<labe for= "password1" >Password</label>
				</div>
				<div class="col-md-2 btn">
					<input class="form-control" type = "password" name = "password">
				</div>

</div>

    </div>


    		<div class= "row col-md-12">

							<div class="col-md-5 btn" style="text-align: center; color: red">
								{{form.errors.username}}
							</div>
							<div class="col-md-1 " style="display: none; ">

							</div>
			 				<div class="col-md-5 btn" style="text-align: center; color: red">
			 					 {{form.errors.password}}
			 				</div>
			 				<div class="col-md-1 " style="display: none;">
								{{form.errors}}
							</div>


			</div>
      <div class= container>

          	<div class= "row amensaje">
      			<div class="form-inline amensaje">

      			 	<div class="col-md-2 btn">
      					<label><a class="navbar-brand" href="{% url "registrar" %}" title = "Crear cuenta" >Crear cuenta</a></label>
      				</div>
      				<div class="col-md-3 btn">

      				</div>

      				<div class="col-md-2 " >

      				</div>

      			 	<div class="col-md-2 btn">

      			 		<label><a class="navbar-brand" href="#" title = "Password_reset" >He olvidado mi contraseña</a></label>


      				</div>
      				<div class="col-md-3 btn">

      				</div>


      			</div>
      		</div>
          </div>







       			<br/>
      			<br/>

            <div class="row">
              <div class="col-9"></div>
              <div class="col-3"><input class="btn btn-primary" type="submit" value="Submit" /></div>


             </div>


      {% endblock %}

      	</form>
