{% extends "base_turno.html" %}
{% block title %}Nueva paciente{% endblock %}
{% block content %}

<form action="/administracion_pacientes/crear_paciente/" method="POST">{% csrf_token %}

  <hr>
  <div class= "row ">
  <div class="col-sm-1 btn">
  </div>
  <h1>Crear paciente</h1>
  </div>
  <hr>

  <div class= "row ">
          <div class="col-sm-1 btn">
          </div>
            <div class="col-sm-1 btn">
                <label>N° de ficha</label>
            </div>
            <div class="col-sm-2 btn">
                {{form.nFicha}}

            </div>

            <div class="col-sm-2 " >

            </div>

            <div class="col-sm-2 btn">
                {{form.nFicha.errors}}
            </div>



</div>

<div class= "row ">
        <div class="col-sm-1 btn">
        </div>
          <div class="col-sm-1 btn">
              <label>Nombres</label>
          </div>
          <div class="col-sm-2 btn">
              {{form.nombres}}

          </div>

          <div class="col-sm-2 " >

          </div>

          <div class="col-sm-2 btn">
              {{form.nombres.errors}}
          </div>



</div>

<div class= "row ">
        <div class="col-sm-1 btn">
        </div>
          <div class="col-sm-1 btn">
              <label>Apellido paterno</label>
          </div>
          <div class="col-sm-2 btn">
              {{form.primerApellido}}

          </div>

          <div class="col-sm-2 " >

          </div>

          <div class="col-sm-2 btn">
              {{form.primerApellido.errors}}
          </div>



</div>

<div class= "row ">
        <div class="col-sm-1 btn">
        </div>
          <div class="col-sm-1 btn">
              <label>Apellido materno</label>
          </div>
          <div class="col-sm-2 btn">
              {{form.segundoApellido}}

          </div>

          <div class="col-sm-2 " >

          </div>

          <div class="col-sm-2 btn">
              {{form.segundoApellido.errors}}
          </div>



</div>

<div class= "row ">
        <div class="col-sm-1 btn">
        </div>
          <div class="col-sm-1 btn">
              <label>RUN</label>
          </div>
          <div class="col-sm-2 btn">
              {% if form.RUN.value  != " " and form.RUN.value  != None and form.DV.value  != " " and form.DV.value  != None %}

                <input id="rut" type="text"  maxlength="8" size="10" name="RUN" value="{{ form.RUN.value }}" oninput="validar_rut()" > <input id="dv" type="text"  maxlength="1" size="2" name="DV" value="{{ form.DV.value }}" oninput="validar_rut()" >

              {% else %}
                <input id="rut" type="text"  maxlength="8" size="10" name="RUN" oninput="validar_rut()" > <input id="dv" type="text"  maxlength="1" size="2" name="DV" oninput="validar_rut()" >

              {% endif %}

          </div>

          <div class="col-sm-2 " >

          </div>

          <div class="col-sm-2 btn">
              {{form.RUN.errors}}
              {{form.DV.errors}}
              <p class="text-info" id="msgerror" style="text-align: center; color: red"></p>
          </div>

</div>
<div class= "row ">
        <div class="col-sm-1 btn">
        </div>
          <div class="col-sm-1 btn">
              <label>Fecha de nacimiento</label>
          </div>
          <div class="col-sm-2 btn">
              {{form.fechaNacimiento}}

          </div>

          <div class="col-sm-2 " >

          </div>

          <div class="col-sm-2 btn">
              {{form.fechaNacimiento.errors}}
          </div>

</div>

<div class= "row ">
        <div class="col-sm-1 btn">
        </div>
          <div class="col-sm-1 btn">
              <label>Sexo</label>
          </div>
          <div class="col-sm-2 btn">
              {{form.sexo}}

          </div>

          <div class="col-sm-2 " >

          </div>

          <div class="col-sm-2 btn">
              {{form.sexo.errors}}
          </div>

</div>

<div class= "row ">
        <div class="col-sm-1 btn">
        </div>
          <div class="col-sm-1 btn">
              <label>Escolaridad</label>
          </div>
          <div class="col-sm-2 btn">
              {{form.nivelInstruccion}}

          </div>

          <div class="col-sm-2 " >

          </div>

          <div class="col-sm-2 btn">
              {{form.nivelInstruccion.errors}}
          </div>
</div>

<div class= "row ">
        <div class="col-sm-1 btn">
        </div>
          <div class="col-sm-1 btn">
              <label>Email</label>
          </div>
          <div class="col-sm-2 btn">
              {{form.email}}

          </div>

          <div class="col-sm-2 " >

          </div>

          <div class="col-sm-2 btn">
              {{form.email.errors}}
          </div>

</div>

<div class= "row ">
        <div class="col-sm-1 btn">
        </div>
          <div class="col-sm-1 btn">
              <label>Teléfono</label>
          </div>
          <div class="col-sm-2 btn">
              {{form.telefono}}

          </div>

          <div class="col-sm-2 " >

          </div>

          <div class="col-sm-2 btn">
              {{form.telefono.errors}}
          </div>

</div>

<div class= "row ">
        <div class="col-sm-1 btn">
        </div>
          <div class="col-sm-1 btn">
              <label>Dirección</label>
          </div>
          <div class="col-sm-2 btn">
              {{form.direccion}}

          </div>

          <div class="col-sm-2 " >

          </div>

          <div class="col-sm-2 btn">
              {{form.direccion.errors}}
          </div>
</div>

<div class= "row ">
        <div class="col-sm-1 btn">
        </div>
          <div class="col-sm-1 btn">
              <label>Ciudad</label>
          </div>
          <div class="col-sm-2 btn">
              {{form.ciudad}}

          </div>

          <div class="col-sm-2 " >

          </div>

          <div class="col-sm-2 btn">
              {{form.ciudad.errors}}
          </div>
</div>


<div class= "row ">
        <div class="col-sm-1 btn">
        </div>
          <div class="col-sm-1 btn">
              <label>Cuenta corriente</label>
          </div>
          <div class="col-sm-2 btn">
              {{form.cuentaCorriente}}

          </div>

          <div class="col-sm-2 " >

          </div>

          <div class="col-sm-2 btn">
              {{form.cuentaCorriente.errors}}
          </div>
</div>




<div class="row">
  <div class="col-9"></div>
  <div class="col-3"><input class="btn btn-primary" type="submit" value="Submit" /></div>


 </div>



</form>

 {% endblock %}
