{% extends "base_turno.html" %}
{% block title %}Nueva paciente{% endblock %}
{% block content %}

<form action="/administracion_pacientes/crear_paciente_tur_rap/" method="POST">{% csrf_token %}

  <hr>
  <div class= "row ">
  <div class="col-sm-1 btn">
  </div>
  <h1>Crear paciente</h1>
  </div>
  <hr>


<div class= "row ">
        <div class="col-sm-1 btn">
        </div>
          <div class="col-sm-1 btn">
              <label>Nombres</label>
          </div>
          <div class="col-sm-2 btn">
              {{form.nombres}}

          </div>

          <div class="col-sm-2 " >

          </div>

          <div class="col-sm-2 btn">
              {{form.nombres.errors}}
          </div>



</div>

<div class= "row ">
        <div class="col-sm-1 btn">
        </div>
          <div class="col-sm-1 btn">
              <label>Apellido paterno</label>
          </div>
          <div class="col-sm-2 btn">
              {{form.primerApellido}}

          </div>

          <div class="col-sm-2 " >

          </div>

          <div class="col-sm-2 btn">
              {{form.primerApellido.errors}}
          </div>



</div>

<div class= "row ">
        <div class="col-sm-1 btn">
        </div>
          <div class="col-sm-1 btn">
              <label>Apellido materno</label>
          </div>
          <div class="col-sm-2 btn">
              {{form.segundoApellido}}

          </div>

          <div class="col-sm-2 " >

          </div>

          <div class="col-sm-2 btn">
              {{form.segundoApellido.errors}}
          </div>



</div>



<div class= "row ">
        <div class="col-sm-1 btn">
        </div>
          <div class="col-sm-1 btn">
              <label>Sexo</label>
          </div>
          <div class="col-sm-2 btn">
              {{form.sexo}}

          </div>

          <div class="col-sm-2 " >

          </div>

          <div class="col-sm-2 btn">
              {{form.sexo.errors}}
          </div>

</div>



<div class= "row ">
        <div class="col-sm-1 btn">
        </div>
          <div class="col-sm-1 btn">
              <label>Cuenta corriente</label>
          </div>
          <div class="col-sm-2 btn">
              {{form.cuentaCorriente}}

          </div>

          <div class="col-sm-2 " >

          </div>

          <div class="col-sm-2 btn">
              {{form.cuentaCorriente.errors}}
          </div>
</div>




<div class="row">
  <div class="col-9"></div>
  <div class="col-3"><input class="btn btn-primary" type="submit" value="Submit" /></div>


 </div>



</form>

 {% endblock %}
